{% extends 'layout_topbar_footer.html' %}
{% block page_description %}Ciudad Mujer Honduras, Boletines Informativos, Boletín Semanal, Boletín Mensual{% endblock %}
{% block page_title %}CMH - Boletines Informativos{% endblock %}
{% block body %}
<section class="s-maincontainer">
    <main class="s-content">
        <article class="s-article s-article--centered">
            <header>
                <h2>
                    Descarga nuestros Boletines Informativos
                </h2>
            </header>
            <section class="s-mdc-card">
                <div class="mdc-card s-mdc-card__unit">
                    <a class="s-mdc-card__unit-link" href="https://drive.google.com/file/d/1bCyzeDEhPjmzvgXWBg3mgC6SkL8EO-Q0/view?usp=sharing" target="_blank">
                        <div class="mdc-card__primary-action" tabindex="0">
                            <div class="mdc-card__media">
                                <div class="s-mdc-card__media-icon media-icon__backcolor-pages">
                                    <i class="material-icons" aria-hidden="true">date_range</i>
                                </div>
                            </div>
                            <div class="s-mdc-card__primary">
                                <h2 class="s-mdc-card__title mdc-typography--headline6">Boletín Semanal</h2>
                                <h3 class="s-mdc-card__subtitle mdc-typography--subtitle2">Descarga nuestro boletín de la semana</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="mdc-card s-mdc-card__unit">
                    <a class="s-mdc-card__unit-link" href="https://drive.google.com/file/d/1YgG9CF-6ac5ndhJBoeYK3beO6-iOH7T4/view?usp=sharing" target="_blank">
                        <div class="mdc-card__primary-action" tabindex="0">
                            <div class="mdc-card__media">
                                <div class="s-mdc-card__media-icon media-icon__backcolor-library">
                                    <i class="material-icons" aria-hidden="true">event_available</i>
                                </div>
                            </div>
                            <div class="s-mdc-card__primary">
                                <h2 class="s-mdc-card__title mdc-typography--headline6">Boletín Mensual</h2>
                                <h3 class="s-mdc-card__subtitle mdc-typography--subtitle2">Descarga nuestro boletín del resumen mensual</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="mdc-card s-mdc-card__unit">
                    <a class="s-mdc-card__unit-link" href="https://drive.google.com/drive/folders/1xJB0bLdrOAttvadTLvvFk90HI8VMkWoo?usp=sharing" target="_blank">
                        <div class="mdc-card__primary-action" tabindex="0">
                            <div class="mdc-card__media">
                                <div class="s-mdc-card__media-icon media-icon__backcolor-docs">
                                    <i class="material-icons" aria-hidden="true">folder_shared</i>
                                </div>
                            </div>
                            <div class="s-mdc-card__primary">
                                <h2 class="s-mdc-card__title mdc-typography--headline6">Archivo de boletines</h2>
                                <h3 class="s-mdc-card__subtitle mdc-typography--subtitle2">Accede y descarga todos los boletines publicados</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </section>
            <section class="s-article__text">
                <p>
                    <i>
                        Ciudad Mujer busca contribuir al mejoramiento de las condiciones de vida de las mujeres en
                        Honduras
                        en las áreas de autonomía económica, atención a la violencia, salud sexual y reproductiva,
                        educación comunitaria,
                        y otras afines, mediante una red de servicios ofrecidos de manera integral por las instituciones
                        públicas competentes.
                    </i>
                </p>
            </section>
        </article>
    </main>
</section>
{% endblock %}