{% extends 'layout_topbar_footer.html' %}
{% block page_description %}Ciudad Mujer Honduras, Servicios Virtuales MSSR, Módulo de Salud Sexual y
Reproductiva{% endblock %}
{% block page_title %}CMH - Servicios Virtuales MSSR{% endblock %}
{% block body %}
<section class="s-maincontainer">
    <main class="s-content">
        <article class="s-article s-article--centered">
            <header>
                <h2>
                    Servicios Virtuales MSSR
                </h2>
            </header>
            <section id="mdc-tab-bar__id-serviciosvirtuales-content">
                <section
                    class="s-article__text s-article__text--centered s-article__text-mdc-card s-article__text--show"
                    tabindex="0">
                    <div class="mdc-card s-mdc-card__article">
                        <div class="mdc-card__primary-action">
                            <div class="s-mdc-videocontainer__media--16-9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/esFYQ8lujtg"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                                </iframe>
                            </div>
                            <div class="s-mdc-card__headers">
                                <h2>
                                    La adversidad nos permite seguir creciendo
                                </h2>
                                <h3>
                                    Webinar (19 de junio de 2020)
                                </h3>
                            </div>
                            <div class="s-mdc-card__body">
                                <p>
                                    <b>Tegucigalpa (Francisco Morazán)</b>. ¿Cómo enfrentar la adversidad sin temores?
                                    Es una pregunta compleja que el doctor español Javier Ramos, psicólogo y doctor en
                                    ciencias económicas y empresariales, respondió a través de un webinar organizado por
                                    el Programa Presidencial Ciudad Mujer.
                                </p>
                                <p>
                                    A lo largo de la vida estamos expuestos a repetidos eventos o situaciones de
                                    pérdidas, como el fallecimiento inesperado de un ser querido, maltrato o abuso
                                    psíquico o físico, pérdida de la salud, fracaso, catástrofes naturales, pobreza,
                                    cambios de rol dentro de la familia, envejecimiento que nos hace perder capacidades
                                    o un determinado estatus social.
                                </p>
                                <div id="RMC-2020_06_24" class="s-mdc-card__body--hidden">
                                    <p>
                                        Sin embargo, el doctor Ramos explica que cada una de estas situaciones son
                                        oportunidades para seguir creciendo, para generar un cambio en nuestras vidas,
                                        mejorar la aceptación y no permanecer desmotivados o impotentes ante estos
                                        cambios.
                                    </p>
                                    <p>
                                        Volviendo a la pregunta inicial, la resiliencia, que está ligada al tema de la
                                        inteligencia emocional, nos permite enfrentarnos a la incertidumbre.
                                    </p>
                                    <p>
                                        “La resiliencia es un concepto que surge de la inquietud por identificar
                                        aquellos factores que facilitan a las personas sobreponerse de manera exitosa a
                                        la adversidad y las dificultades que se presentan en sus vidas”, comentó el
                                        especialista, y agregó que las definiciones de resiliencia pueden centrarse en
                                        el individuo (capacidad, cualidad, mentalidades), en el proceso (interacción
                                        entre capacidades personales y el medio ambiente) y en el resultado (centradas
                                        en la superación de la adversidad).
                                    </p>
                                    <p>
                                        <b>Pilares básicos que nos permiten superar esas circunstancias adversas</b>
                                    </p>
                                    <p>
                                        Para lograr ver la adversidad como una situación que nos permita seguir
                                        creciendo, debemos tomar en cuenta los siguientes pilares:
                                    <ol>
                                        <li>
                                            Autoconocimiento y autoestima
                                        </li>
                                        <li>
                                            Empatía
                                        </li>
                                        <li>
                                            Autonomía
                                        </li>
                                        <li>
                                            Afrontamiento de la adversidad
                                        </li>
                                        <li>
                                            Tener una conciencia del presente y optimismo (el pasado nos ancla en un
                                            mundo que ya no existe).
                                        </li>
                                        <li>
                                            Flexibilidad combinada con perseverancia (visión a largo plazo, pero ir
                                            dando pasos pequeños, ser flexibles no significa que renunciemos a nuestras
                                            metas). Debemos aprender a hacer realidad los deseos con fuerza de voluntad
                                            y autocontrol emocional.
                                        </li>
                                        <li>
                                            Sociabilidad (valorar a los demás y generar entornos que son lo menos
                                            tóxicos posible, y tener personas de apoyo a quienes acudir).
                                        </li>
                                        <li>
                                            Tolerancia a la frustración y a la incertidumbre (una forma de ganar
                                            seguridad en nosotros mismos y vivir con menos tensión emocional es,
                                            precisamente, aprendiendo a lidiar con la incertidumbre).
                                        </li>
                                    </ol>
                                    </p>
                                    <p>
                                        <b>¿Cómo aumentar la resiliencia?</b>
                                    <ul>
                                        <li>
                                            Auto observación + autoconocimiento + dedicarte tiempo
                                        </li>
                                        <li>
                                            Cuida cómo te hablas, qué te dices, confía en tus capacidades
                                        </li>
                                        <li>
                                            Humor y sonrisa ante las dificultades
                                        </li>
                                        <li>
                                            Salud emocional + equilibrio emocional + control emocional
                                        </li>
                                        <li>
                                            Inteligencia emocional
                                        </li>
                                        <li>
                                            Pon límites al control, tolera la incertidumbre
                                        </li>
                                        <li>
                                            Cuídate, mejora tu salud física
                                        </li>
                                        <li>
                                            Sé realista
                                        </li>
                                        <li>
                                            Cuida adónde llevas tu atención
                                        </li>
                                        <li>
                                            ¡Vive! Que el miedo no condicione tu vida
                                        </li>
                                    </ul>
                                    </p>
                                    <p>
                                        Según Ramos, conjugando estos pilares, es decir, integrando la auto observación
                                        (conocer nuestras fortalezas y debilidades), más el autoconocimiento, hablarnos
                                        a nosotros mismos con un lenguaje positivo, confiar en nuestras capacidades, “la
                                        autoconfianza es una de las grandes posibilidades del éxito”, podemos aumentar
                                        nuestra resiliencia.
                                    </p>
                                    <p>
                                        El doctor Ramos compartió los siguientes consejos y enfatizó la importancia de
                                        ver la adversidad como una situación que nos permita seguir creciendo, no caer
                                        en la autocompasión, ser capaces de pedir ayuda, prestar ayuda y recibirla y
                                        enfrentar la adversidad con humor, no con temor, “con un enfoque positivo que no
                                        sea una queja constante”, recalcó.
                                    </p>
                                    <p>
                                        <b>Consejos del doctor Javier Ramos</b>
                                    </p>
                                    <p>
                                    <ul>
                                        <li>
                                            Creer que se puede aprender con las experiencias, sean estas negativas o
                                            positivas, nos permite seguir creciendo y madurando.
                                        </li>
                                        <li>
                                            Disfrutar de los pequeños detalles y éxitos que vamos consiguiendo en el día
                                            a día. Vivamos el día a día y creemos el futuro en el presente. “En tres
                                            meses el mundo ha cambiado completamente y nadie pensaba en eso, no teníamos
                                            un plan de contingencia y aun así hemos salido adelante como hemos podido,
                                            hay que ser optimistas y poner de nuestra parte, pero enfrentando la vida
                                            desde el presente, no desde el pasado”.
                                        </li>
                                        <li>
                                            No es malo fallar, pero debes analizar qué has aprendido de los fracasos.
                                            Busca aprendizaje en todos los procesos adversos.
                                        </li>
                                        <li>
                                            Hay que tener autoconocimiento y autoestima, y no caer en la autocompasión.
                                        </li>
                                    </ul>
                                    </p>
                                    <h2>
                                        Enlace al Webinar
                                    </h2>
                                    <p>
                                        <a href="https://www.facebook.com/ciudadmujerhn/videos/1553758111462326/">
                                            https://www.facebook.com/ciudadmujerhn/videos/1553758111462326/
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="mdc-card__actions">
                            <button id="2020_06_24" class="mdc-button mdc-card__action mdc-card__action--button">
                                <span class="mdc-button__label">Leer más...</span>
                            </button>
                        </div>
                    </div>
                    <div class="mdc-card s-mdc-card__article">
                        <div class="mdc-card__primary-action">
                            <div class="s-mdc-videocontainer__media--16-9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/G2qNx5f9X9c"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                                </iframe>
                            </div>
                            <div class="s-mdc-card__headers">
                                <h2>
                                    Cuidados durante el embarazo, parto y puerperio en tiempos de COVID-19
                                </h2>
                                <h3>
                                    Webinar (09 de mayo de 2020)
                                </h3>
                            </div>
                            <div class="s-mdc-card__body">
                                <p>
                                    La doctora Silvia Padilla, asesora de Servicios de Salud Sexual y Reproductiva para
                                    adolescentes del Fondo de Población de las Naciones Unidas (UNFPA), compartió
                                    información relevante para las embarazadas y sus familiares a través de un webinar
                                    organizado por el Programa Presidencial Ciudad Mujer.
                                </p>
                                <p>
                                    La doctora destacó el papel de los profesionales de la salud, en especial de las
                                    funcionarias del Módulo de Salud Sexual y Reproductiva de los Centros Ciudad Mujer,
                                    que continúan en la primera línea de batalla ante la pandemia ocasionada por el
                                    coronavirus.
                                </p>
                                <div id="RMC-2020_05_13" class="s-mdc-card__body--hidden">
                                    <p>
                                        Padilla invitó a las embarazadas a mantenerse informadas sobre cómo garantizar
                                        un embarazo saludable y seguro aún en estos tiempos de confinamiento.
                                    </p>
                                    <p>
                                        A continuación, la entrevista con la doctora Padilla.
                                    </p>
                                    <p>
                                        <b>¿Cómo influye el estrés provocado por el coronavirus en el desarrollo del
                                            embarazo?</b>
                                    </p>
                                    <p>
                                        Los factores de estrés más comunes en este brote de Covid-19 incluyen el riesgo
                                        de contagiarse o contagiar a los suyos, sobre todo si es una madre y está al
                                        cuidado de más personas, hijos, adultos mayores o si son cabeza de hogar. Las
                                        embarazadas también se están enfrentando al estrés de confundir los síntomas y
                                        también la preocupación permanente como cuidadora de sus hijos, estar pendientes
                                        de las tareas de ellos, por ejemplo, todo esto provoca que tengan un mayor nivel
                                        de estrés en la casa, aparte del estrés habitual.
                                    </p>
                                    <p>
                                        <b>¿El coronavirus puede provocar efectos secundarios más graves en las
                                            embarazadas?</b>
                                    </p>
                                    <p>
                                        A la fecha no existe evidencia, sin embargo, esta etapa produce cambios en el
                                        sistema físico e inmunológico no solo durante el embarazo, sino también
                                        posterior al parto. Lo anterior significa que eventualmente pueden sufrir
                                        complicaciones en el contexto de la epidemia, afectando la salud sexual y
                                        reproductiva en lo relativo a las tasas de mortalidad por todo lo vinculado al
                                        confinamiento.
                                    </p>
                                    <p>
                                        <b>¿Puede contagiarse un recién nacido con Covid-19?</b>
                                    </p>
                                    <p>
                                        Sí. Hemos visto casos de bebés de un mes, de seis y de ocho meses que se han
                                        contagiado. Aún no hay evidencia de la transmisión de madre a hijo, que se llama
                                        transmisión vertical o ya sea transplacentaria a través del cordón umbilical.
                                        Pero una vez que el bebé nace se puede contagiar si está algún paciente
                                        confirmado por Covid-19 y no se le pone un protector al niño.
                                    </p>
                                    <p>
                                        <b>¿Pueden las mujeres con Covid-19 amamantar a su bebé?</b>
                                    </p>
                                    <p>
                                        Sí, siempre que utilice la mascarilla mientras amamanta, se cubra la nariz y la
                                        boca al toser con la parte interna del codo flexionado o con un pañuelo
                                        desechable, que lave sus manos antes y después de tocar al bebé y que limpie y
                                        desinfecte los objetos y superficies que haya tocado.
                                    </p>
                                    <p>
                                        <b>¿Qué debe hacer una embarazada ante la sospecha de haberse contagiado de
                                            coronavirus?</b>
                                    </p>
                                    <p>
                                        Lo primero es establecer una comunicación vía telefónica con el personal de
                                        salud, esa es la instrucción que se ha girado a través de las autoridades, que
                                        deben poner a disposición un número telefónico, por eso es importante que si
                                        presenta cualquier síntoma vinculado con el Covid-19 llamen al 911 o acudan a
                                        los hospitales priorizados para recibir atención médica adecuada y oportuna.
                                    </p>
                                    <p>
                                        Si la embarazada presenta alguna enfermedad respiratoria, como asma, debe
                                        recibir atención médica y tratamiento de forma inmediata, tanto para ella como
                                        para su bebé. Es importante tener presente los síntomas, como fiebre, cansancio,
                                        dificultad para respirar, entre otros.
                                    </p>
                                    <p>
                                        <b>¿Se deben mantener los controles prenatales con normalidad durante la
                                            cuarentena?</b>
                                    </p>
                                    <p>
                                        Los controles para la mujer que cursa un embarazo de manera normal deben
                                        disminuirse lo más que se pueda y solo hacer el seguimiento mediante llamadas
                                        telefónicas. Pero si tiene un embarazo de alto riesgo sí se deben tener
                                        controles prenatales periódicos conforme al plan que se ha diseñado, hacer el
                                        seguimiento a través de visitas domiciliarias o llamadas telefónicas.
                                    </p>
                                    <p>
                                        <b>¿Cuáles son los riesgos de interrumpir los chequeos durante el embarazo?</b>
                                    </p>
                                    <p>
                                        El riesgo de interrumpir los chequeos o de no buscar ayuda médica oportuna es
                                        que se pueden ocasionar complicaciones durante el embarazo y hasta provocar una
                                        muerte materna. Por ejemplo, un parto que se ha atendido en la comunidad sin el
                                        personal capacitado y entrenado para realizar este trabajo seguro pone en riesgo
                                        no solo la vida de la madre, sino también la del bebé.
                                    </p>
                                    <p>
                                        <b>¿Está el sistema sanitario brindando las atenciones a embarazadas aún con la
                                            cuarentena?</b>
                                    </p>
                                    <p>
                                        En el sector de salud pública, independientemente de las epidemias, ya sea de
                                        dengue o Covid-19, se tiene que continuar atendiendo a la población priorizada,
                                        que incluye la atención materno-infantil y la salud sexual y reproductiva para
                                        mujeres en edad fértil, para adolescentes y jóvenes, además de proveer todos los
                                        servicios de planificación familiar.
                                    </p>
                                    <p>
                                        <b>¿Se ha capacitado el personal de salud en protocolos de atención a las
                                            embarazadas durante la pandemia?</b>
                                    </p>
                                    <p>
                                        Sí. El personal de Salud que brinda atenciones específicamente para las
                                        embarazadas con sospecha de coronavirus o que sea un caso confirmado de Covid-19
                                        debe estar en principio capacitado en este tipo de atención y contar con el
                                        equipo de protección personal, que incluye mascarilla, bata descartable, gafas
                                        de protección ocular, guantes y, sobre todo, tomar las medidas de higiene, que
                                        van desde el lavado constante de manos y la higienización de todos los
                                        instrumentos de chequeo.
                                    </p>
                                    <p>
                                        Desde que inició la pandemia, el personal de salud se ha estado capacitando y
                                        recibiendo los protocolos de atención.
                                    </p>
                                    <p>
                                        Sin embargo, no podemos desconocer que la pandemia del Covid-19 es nueva, se
                                        está estudiando y prácticamente todas las semanas hay nuevas evidencias y
                                        referencias, por lo que los lineamientos y protocolos se están actualizando
                                        permanentemente.
                                    </p>
                                    <p>
                                        <b>¿Cuáles son los hospitales priorizados para atender a las embarazadas durante
                                            la pandemia?</b>
                                    </p>
                                    <p>
                                        Según un evaluación que hicimos con el Fondo de Población de las Naciones Unidas
                                        (UNFPA), en el epicentro de la pandemia, en el departamento de Cortés, el 85% de
                                        los establecimientos de salud de primer nivel están abiertos, algunos servicios
                                        de han visto afectados, pero los hospitales se han reorganizado para poder dar
                                        una respuesta oportuna a las mujeres que vayan a ingresar por parto o alguna
                                        complicación vinculada con el embarazo.
                                    </p>
                                    <p>
                                        El UNFPA está aportando en ocho regiones del país y ampliamos la cobertura a
                                        departamentos priorizados como Cortés, Atlántida y Colón.
                                    </p>
                                    <p>
                                        En relación a la pregunta, todos los hospitales generales tienen una sala de
                                        maternidad. De referencia para atención de mujeres con Covid-19 están el
                                        Leonardo Martínez, el Mario Catarino Rivas, en San Pedro Sula y el Hospital
                                        Escuela y el San Felipe, en Tegucigalpa.
                                    </p>
                                    <p>
                                        Con el UNFPA también estamos apoyando el Hospital del Sur, el Hospital San
                                        Francisco, en Olancho; el Hospital Tela Integrado; el Hospital de Atlántida, el
                                        Hospital de Occidente, en Copán; el Hospital Juan Manuel Gálvez, en Gracias,
                                        Lempira; el Hospital Enrique Manuel Serrano, en La Esperanza, Intibucá y el
                                        Hospital Roberto Suazo Córdova, en La Paz.
                                    </p>
                                    <p>
                                        Todos estos hospitales ya fueron capacitados en los lineamientos para la
                                        atención de las embarazadas, el parto, puerperio y la lactancia en el contexto
                                        del Covid-19.
                                    </p>
                                    <p>
                                        Más de 1,500 profesionales de salud fueron capacitados por el UNFPA, en
                                        colaboración con la Secretaría de Salud en los 23 hospitales del país y en las
                                        20 regiones sanitarias.
                                    </p>
                                    <p>
                                        <b>¿Qué cuidados debe tener la madre después del parto, cuando regresa a casa
                                            con su bebé?</b>
                                    </p>
                                    <p>
                                        Se deben adoptar las medidas generales, lavado permanente de manos con agua y
                                        jabón hasta hacer espuma o, en su defecto, usar gel de manos. También se debe
                                        desinfectar toda la superficie, limpiar la habitación y, una vez que da de
                                        lactar, utilizar gasas y limpiarse toda la mama, especialmente el pezón, antes y
                                        después de darle pecho al niño y luego de amamantar, limpiar de nuevo al bebé.
                                        También se debe usar mascarilla, no compartir objetos personales y guardar
                                        distanciamiento social. Es importante no sacar de casa al bebé ni exponerlo a
                                        las visitas.
                                    </p>
                                    <h2>
                                        Enlace al Webinar
                                    </h2>
                                    <p>
                                        <a href="https://www.facebook.com/ciudadmujerhn/videos/182073379631710">
                                            https://www.facebook.com/ciudadmujerhn/videos/182073379631710
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="mdc-card__actions">
                            <button id="2020_05_13" class="mdc-button mdc-card__action mdc-card__action--button">
                                <span class="mdc-button__label">Leer más...</span>
                            </button>
                        </div>
                    </div>
                </section>
            </section>
            <section class="s-article__text">
                <p>
                    <i>
                        Ciudad Mujer busca contribuir al mejoramiento de las condiciones de vida de las mujeres en
                        Honduras
                        en las áreas de autonomía económica, atención a la violencia, salud sexual y reproductiva,
                        educación comunitaria,
                        y otras afines, mediante una red de servicios ofrecidos de manera integral por las instituciones
                        públicas competentes.
                    </i>
                </p>
            </section>
        </article>
    </main>
</section>
{% endblock %}