{% extends 'layout_topbar_footer.html' %}
{% block page_description %}Ciudad Mujer Honduras, Servicios Virtuales MAA, Módulo de Atencion a
Adolescentes{% endblock %}
{% block page_title %}CMH - Servicios Virtuales MAA{% endblock %}
{% block body %}
<section class="s-maincontainer">
    <main class="s-content">
        <article class="s-article s-article--centered">
            <header>
                <h2>
                    Servicios Virtuales MAA
                </h2>
            </header>
            <section id="mdc-tab-bar__id-serviciosvirtuales-content">
                <section
                    class="s-article__text s-article__text--centered s-article__text-mdc-card s-article__text--show"
                    tabindex="0">
                    <div class="mdc-card s-mdc-card__article">
                        <div class="mdc-card__primary-action">
                            <div class="s-mdc-videocontainer__media--16-9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/AW5z7CAMcc4"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                                </iframe>
                            </div>
                            <div class="s-mdc-card__headers">
                                <h2>
                                    Cyberbullying y Sexting en la Adolescencia
                                </h2>
                                <h3>
                                    Webinar (28 de mayo de 2020)
                                </h3>
                            </div>
                            <div class="s-mdc-card__body">
                                <p>
                                    ¿Sabe si sus hijos están haciendo un uso adecuado de los aparatos tecnológicos? ¿Qué
                                    tan vulnerables son los adolescentes a ser víctima de ciberacoso?
                                </p>
                                <div id="RMC-2020_06_02" class="s-mdc-card__body--hidden">
                                    <p>
                                        Para hablar sobre este interesante tema, el Programa Presidencial Ciudad Mujer
                                        organizó un webinar con la participación de Patricia Alvarado, psicóloga de la
                                        Fiscalía Especial de Protección a la Niñez.
                                    </p>
                                    <p>
                                        La especialista inició destacando que estamos en un momento en donde la
                                        modalidad de estudio es a través de clases virtuales, debido a la pandemia
                                        causada por el coronavirus, lo que ha propiciado más casos de cyberbullying
                                        entre los compañeros de estudio.
                                    </p>
                                    <p>
                                        “En estas aulas virtuales se ha visto un comportamiento inadecuado de parte de
                                        algunos jóvenes, en donde comparten fotos, videos, suplantan perfiles, realizan
                                        bromas y se burlan de sus compañeros, lo que genera el bullying cibernético”,
                                        advirtió la psicóloga.
                                    </p>
                                    <p>
                                        Es importante saber qué uso están haciendo los adolescentes que tienen acceso a
                                        la red, “como padres, debemos estar pendientes de lo que hacen nuestros hijos a
                                        través de los aparatos tecnológicos”, dijo la especialista y agregó que “los
                                        jóvenes son vulnerables y pueden hacer cosas por omisión o por falta de
                                        información”.
                                    </p>
                                    <p>
                                        A criterio de Alvarado, el bullying es una conducta aprendida y “todo lo
                                        aprendido se puede desaprender, lo podemos erradicar”. Comentó que el bullying
                                        afecta la autoestima de los adolescentes, “los muchachos mandan mensajes con
                                        ideas negativas, diciéndoles que son feas, malas, sucias, que no sirven, todo
                                        esto es violencia emocional y lo peor es que la víctima termina creyendo que
                                        todo este es cierto”.
                                    </p>
                                    <p>
                                        <b>Conozca los actores del bullying y del ciberbullying</b><br />
                                    <ul>
                                        <li>
                                            EL AGRESOR: golpea, insulta, discrimina, intimida y amenaza.
                                        </li>
                                        <li>
                                            LA VÍCTIMA: calla, se aísla, siente temor, se acompleja y se deprime.
                                        </li>
                                        <li>
                                            EL CÓMPLICE: no denuncia, ignora, miente, se expone y vive atemorizado.
                                        </li>
                                    </ul>
                                    </p>
                                    <p>
                                        <b>Pensar antes de sextear</b>
                                    </p>
                                    <p>
                                        La psicóloga también abordó el tema del sexting, “que es el envío de mensajes
                                        con contenido sexual, erótico o pornográfico, ya sea fotos o videos, también se
                                        le denomina sexteo”.
                                    </p>
                                    <p>
                                        La especialista invitó a los adolescentes a pensar antes de sextear, “sobre todo
                                        en estos tiempos donde hay más acceso a la tecnología y a Internet, por la
                                        clases y tareas, pero –nuevamente- los padres debemos supervisarlos, porque
                                        ellos pueden caer en este tipo de trampas y compartir mensajes sexuales o
                                        eróticos con amigos o con grupos, sin conocer las consecuencias”.
                                    </p>
                                    <p>
                                        Alvarado mencionó varios factores que pueden llevar a una adolescente a
                                        compartir a un amigo u otra persona contenido sexual, “ellas pueden creer que
                                        esa imagen o video está seguro, no se ponen a pensar en que le podrían robar el
                                        celular o la computadora a la persona a quien se lo compartió o un error de
                                        envío, broma o hasta por voluntad del propietario, porque puede ser su amigo o
                                        novio, pero cuando dejan de serlo todo puede pasar”.
                                    </p>
                                    <p>
                                        Según la psicóloga, las adolescentes muchas veces confían en el “amor eterno” y
                                        creen que ese contenido siempre estará seguro.
                                    </p>
                                    <p>
                                        <b>Cultura de denuncia</b>
                                    </p>
                                    <p>
                                        La psicóloga Patricia Alvarado compartió los números a los que puede denunciar
                                        si usted es víctima o conoce a una persona que está siendo sometida a este tipo
                                        de delitos:
                                    </p>
                                    <p>
                                    <ul>
                                        <li>
                                            <b>Policía Nacional de Honduras</b>: línea de emergencia 911
                                        </li>
                                        <li>
                                            <b>Fiscalía Especial de Protección a la Niñez</b>: Tel.: 2221-5620/
                                            2221-3099, extensión 2183
                                        </li>
                                        <li>
                                            <b>Sección contra la Explotación Sexual Comercial y Trata de Niños y
                                                Niñas</b>: Celular: 9785-0027 (llamadas y WhatsApp)
                                        </li>
                                        <li>
                                            <b>Correo electrónico</b>:
                                            <a href="mailto:unidadcontralatrata@gmail.com" rel="external">
                                                unidadcontralatrata@gmail.com
                                            </a>
                                        </li>
                                    </ul>
                                    </p>
                                    <h2>
                                        Enlace al Webinar
                                    </h2>
                                    <p>
                                        <a href="https://www.facebook.com/ciudadmujerhn/videos/551000765583660/">
                                            https://www.facebook.com/ciudadmujerhn/videos/551000765583660/
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="mdc-card__actions">
                            <button id="2020_06_02" class="mdc-button mdc-card__action mdc-card__action--button">
                                <span class="mdc-button__label">Leer más...</span>
                            </button>
                        </div>
                    </div>
                    <div class="mdc-card s-mdc-card__article">
                        <div class="mdc-card__primary-action">
                            <div class="s-mdc-videocontainer__media--16-9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/wxo6Jj9J2gk"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                                </iframe>
                            </div>
                            <div class="s-mdc-card__body">
                                <p>
                                    <b>Curso de Habilidades para la Vida.</b>
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
            <section class="s-article__text">
                <p>
                    <i>
                        Ciudad Mujer busca contribuir al mejoramiento de las condiciones de vida de las mujeres en
                        Honduras
                        en las áreas de autonomía económica, atención a la violencia, salud sexual y reproductiva,
                        educación comunitaria,
                        y otras afines, mediante una red de servicios ofrecidos de manera integral por las instituciones
                        públicas competentes.
                    </i>
                </p>
            </section>
        </article>
    </main>
</section>
{% endblock %}