{% extends 'layout_topbar_footer.html' %}
{% block page_description %}Ciudad Mujer Honduras, Servicios Virtuales{% endblock %}
{% block page_title %}CMH - Servicios Virtuales{% endblock %}
{% block body %}
<section class="s-maincontainer">
    <main class="s-content">
        <article class="s-article s-article--centered">
            <header>
                <h2>
                    Estos son los servicios virtuales de Ciudad Mujer
                </h2>
            </header>
            <section class="s-mdc-card">
                <div class="mdc-card s-mdc-card__unit">
                    <a class="s-mdc-card__unit-link" href="/cmvirtual/mae/">
                        <div class="mdc-card__primary-action" tabindex="0">
                            <div class="mdc-card__media">
                                <div class="s-mdc-card__media-icon media-icon__backcolor-mae">
                                    <i class="material-icons" aria-hidden="true">assessment</i>
                                </div>
                            </div>
                            <div class="s-mdc-card__primary">
                                <h2 class="s-mdc-card__title mdc-typography--headline6">Módulo de Autonomía Económica</h2>
                                <h3 class="s-mdc-card__subtitle mdc-typography--subtitle2">MAE</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="mdc-card s-mdc-card__unit">
                    <a class="s-mdc-card__unit-link" href="/cmvirtual/maprodem/">
                        <div class="mdc-card__primary-action" tabindex="0">
                            <div class="mdc-card__media">
                                <div class="s-mdc-card__media-icon media-icon__backcolor-maprodem">
                                    <i class="material-icons" aria-hidden="true">warning</i>
                                </div>
                            </div>
                            <div class="s-mdc-card__primary">
                                <h2 class="s-mdc-card__title mdc-typography--headline6">Módulo de Atención y Protección
                                    a los Derechos de la Mujer</h2>
                                <h3 class="s-mdc-card__subtitle mdc-typography--subtitle2">MAPRODEM</h3>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="mdc-card s-mdc-card__unit">
                    <a class="s-mdc-card__unit-link" href="/cmvirtual/maa/">
                        <div class="mdc-card__primary-action" tabindex="0">
                            <div class="mdc-card__media">
                                <div class="s-mdc-card__media-icon media-icon__backcolor-maa">
                                    <i class="material-icons" aria-hidden="true">alternate_email</i>
                                </div>
                            </div>
                            <div class="s-mdc-card__primary">
                                <h2 class="s-mdc-card__title mdc-typography--headline6">Módulo de Atención a las
                                    Adolescentes</h2>
                                <h3 class="s-mdc-card__subtitle mdc-typography--subtitle2">MAA</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </section>
            <section class="s-article__text">
                <p>
                    <i>
                        Ciudad Mujer busca contribuir al mejoramiento de las condiciones de vida de las mujeres en
                        Honduras
                        en las áreas de autonomía económica, atención a la violencia, salud sexual y reproductiva,
                        educación comunitaria,
                        y otras afines, mediante una red de servicios ofrecidos de manera integral por las instituciones
                        públicas competentes.
                    </i>
                </p>
            </section>
        </article>
    </main>
</section>
{% endblock %}