{% extends 'layout_topbar_footer.html' %}
{% block page_description %}Ciudad Mujer Honduras, Servicios Virtuales MEC, Módulo de Educación
Comunitaria{% endblock %}
{% block page_title %}CMH - Servicios Virtuales MEC{% endblock %}
{% block body %}
<section class="s-maincontainer">
    <main class="s-content">
        <article class="s-article s-article--centered">
            <header>
                <h2>
                    Servicios Virtuales MEC
                </h2>
            </header>
            <section id="mdc-tab-bar__id-serviciosvirtuales-content">
                <section
                    class="s-article__text s-article__text--centered s-article__text-mdc-card s-article__text--show"
                    tabindex="0">
                    <div class="mdc-card s-mdc-card__article">
                        <div class="mdc-card__primary-action">
                            <div class="s-mdc-videocontainer__media--16-9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/oozvIfle5mY"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                                </iframe>
                            </div>
                            <div class="s-mdc-card__headers">
                                <h2>
                                    Estigma social asociado al COVID-19
                                </h2>
                                <h3>
                                    Webinar (23 de julio de 2020)
                                </h3>
                            </div>
                            <div class="s-mdc-card__body">
                                <p>
                                    <b>Tegucigalpa (Francisco Morazán)</b>. Los estigmas no solo dañan a las personas
                                    estigmatizadas, sino también a la sociedad en general.
                                </p>
                                <div id="RMC-2020_07_23" class="s-mdc-card__body--hidden">
                                    <p>
                                        El profesor español Javier Ramos, psicólogo y doctor en ciencias económicas y
                                        empresariales, impartió un webinar a la audiencia del Programa Presidencial
                                        Ciudad Mujer sobre el Estigma social asociado al COVID-19.
                                    </p>
                                    <p>
                                        “Los estigmas no son universales ni imperecederos en el tiempo, lo que hace que
                                        desaparezcan unos (la herejía) y aparezcan otros en distintos momentos o
                                        culturas (ser fumador). Las dimensiones del estigma son visibilidad, evolución,
                                        potencial disruptivo, apariencia física del estigmatizado, origen y
                                        peligrosidad”, introdujo el especialista.
                                    </p>
                                    <p>
                                        El doctor Ramos explicó que hay varios grupos que se han visto afectados por el
                                        estigma relacionado con el COVID-19, entre ellos las personas de ascendencia
                                        asiática, las personas que regresan de un viaje, los trabajadores del cuidado de
                                        la salud y el personal de primeros auxilios, las personas que tienen la
                                        enfermedad, sus familiares y amigos y las personas que salen de la cuarentena.
                                    </p>
                                    <p>
                                        “En España, también los trabajadores de supermercados que siguieron laborando
                                        durante el confinamiento”, agregó.
                                    </p>
                                    <p>
                                        Ante esta situación, el especialista habló sobre algunas consecuencias para los
                                        grupos afectados por el estigma, como el abandono, aislamiento, depresión y la
                                        privación de acceso a recursos que necesitan para cuidarse y cuidar a sus
                                        familias durante una pandemia.
                                    </p>
                                    <p>
                                        “Además pueden ser excluidos o rechazados en situaciones sociales, se les puede
                                        negar el acceso a trabajos u oportunidades de educación, se les puede negar el
                                        acceso a viviendas adecuadas y atención médica y pueden ser el blanco de
                                        maltrato verbal, emocional y físico”, alertó el doctor Ramos.
                                    </p>
                                    <p>
                                        <b>Consecuencias del estigma para la sociedad</b>
                                    </p>
                                    <p>
                                        El estigma perjudica los esfuerzos para hacer pruebas de detección y para tratar
                                        la enfermedad; además, si hay personas que están preocupadas por el rechazo es
                                        menos probable que se hagan pruebas de detección o que busquen atención médica,
                                        lo que aumenta los riesgos de infección para ellos y para los demás.
                                    </p>
                                    <p>
                                        <b>Recomendaciones</b>
                                    </p>
                                    <p>
                                    <ul>
                                        <li>
                                            Obtener información de fuentes con buena reputación. Centros para el Control
                                            y la Prevención de Enfermedades y la Organización Mundial de la Salud (OMS).
                                        </li>
                                        <li>
                                            Compartir esta información con tu familia y amigos.
                                        </li>
                                        <li>
                                            Dar tu opinión si oyes o ves declaraciones erróneas sobre COVID-19
                                            relacionadas con determinadas persona so ciertos grupos.
                                        </li>
                                        <li>
                                            Ayudar y escuchar a las personas que pueden sentirse estigmatizadas.
                                        </li>
                                        <li>
                                            Mostrar tu apoyo a los trabajadores de la salud y a otros que cuidan a las
                                            personas que tienen COVID-19.
                                        </li>
                                        <li>
                                            Mostrar tu apoyo y agradecer a todos los que continúan con sus trabajos
                                            esenciales para ayudarte a ti y a tu comunidad.
                                        </li>
                                    </ul>
                                    </p>
                                    <p>
                                        <b>Recuerda que Ciudad Mujer te invita a decir no a la estigmatización.
                                            #YoNoEstigmatizo</b>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="mdc-card__actions">
                            <button id="2020_07_23" class="mdc-button mdc-card__action mdc-card__action--button">
                                <span class="mdc-button__label">Leer más...</span>
                            </button>
                        </div>
                    </div>
                </section>
            </section>
            <section class="s-article__text">
                <p>
                    <i>
                        Ciudad Mujer busca contribuir al mejoramiento de las condiciones de vida de las mujeres en
                        Honduras
                        en las áreas de autonomía económica, atención a la violencia, salud sexual y reproductiva,
                        educación comunitaria,
                        y otras afines, mediante una red de servicios ofrecidos de manera integral por las instituciones
                        públicas competentes.
                    </i>
                </p>
            </section>
        </article>
    </main>
</section>
{% endblock %}