{% extends 'layout_topbar_footer.html' %}
{% block page_description %}Ciudad Mujer Honduras, Servicios Virtuales MAPRODEM, Módulo de Atención y Protección de los
Derechos de la Mujer{% endblock %}
{% block page_title %}CMH - Servicios Virtuales MAPRODEM{% endblock %}
{% block body %}
<section class="s-maincontainer">
    <main class="s-content">
        <article class="s-article s-article--centered">
            <header>
                <h2>
                    Servicios Virtuales MAPRODEM
                </h2>
            </header>
            <section id="mdc-tab-bar__id-serviciosvirtuales-content">
                <section
                    class="s-article__text s-article__text--centered s-article__text-mdc-card s-article__text--show"
                    tabindex="0">
                    <div class="mdc-card s-mdc-card__article">
                        <div class="mdc-card__primary-action">
                            <div class="s-mdc-videocontainer__media--16-9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/KoKAb6OBCAc"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                                </iframe>
                            </div>
                            <div class="s-mdc-card__headers">
                                <h2>
                                    Violencia Sexual en tiempos del COVID-19
                                </h2>
                                <h3>
                                    Webinar (27 de mayo de 2020)
                                </h3>
                            </div>
                            <div class="s-mdc-card__body">
                                <p>
                                    El doctor colombiano Rafael Contreras es Referente Médico de Médicos Sin Fronteras
                                    en Tegucigalpa en el proyecto de Atención Integral a Personas Víctimas de la
                                    Violencia, incluyendo la violencia sexual. Compartió esta interesante información a
                                    través de un webinar organizado por el Programa Presidencia Ciudad Mujer.
                                </p>
                                <div id="RMC-2020_05_27" class="s-mdc-card__body--hidden">
                                    <p>
                                        <b>1. AUMENTO DE CASOS.</b>A nivel mundial, y Honduras no es la excepción, se ha
                                        identificado un aumento de casos de violencia doméstica y violencia sexual desde
                                        que inició el confinamiento. Para las mujeres, el riesgo aumenta con la
                                        cuarentena al vivir permanentemente con la persona que la está violentando sin
                                        que ella tenga la oportunidad de salir y buscar ayuda. Esto empeora la situación
                                        si logra salir no puede acceder a los servicios, pues algunas instituciones
                                        están cerrados y no están dando respuestas debido al contexto del coronavirus.
                                    </p>
                                    <p>
                                        <b>2. MUJERES, LAS MÁS EXPUESTAS.</b>En su mayoría son las mujeres las que están
                                        más expuestas a ser víctimas de violencia sexual, tanto las adultas como
                                        adolescentes y, desafortunadamente, en algunos casos las niñas. De acuerdo con
                                        los datos que maneja Médicos Sin Frontera, en los cuatro o cinco años recientes,
                                        aproximadamente un 87% de las personas que han sido víctimas de violencia sexual
                                        han sido mujeres, incluyendo niñas y adolescentes.
                                    </p>
                                    <p>
                                        <b>3. NORMALIZACIÓN Y DESCONOCIMIENTO.</b>Estos son los principales obstáculos
                                        que ha encontrado Médicos Sin Fronteras a lo largo de sus intervenciones. Muchas
                                        veces se da la normalización de este tipo de eventos entre la familia, debido a
                                        que vivimos en un contexto machista. También existe el desconocimiento de la
                                        persona y la vergüenza; es frecuente que sientan temor y culpa. Otro problema es
                                        que a veces no saben qué hacer en este tipo de casos. Las estadísticas mundiales
                                        dicen que la persona no lo cuenta cuando van a los centros de salud, muchas
                                        veces tampoco denuncia, generalmente solo lo comparten con la familia y amigos,
                                        por eso es importante que la Red de Apoyo conozca de nuestras instituciones para
                                        que oriente a la víctima.
                                    </p>
                                    <p>
                                        <b>4. APOYO DE FAMILIARES Y AMIGOS.</b>La víctima se va a recuperar más
                                        fácilmente si tiene una Red de Apoyo que le crea y le ayude a salir de esta
                                        situación de riesgo y, en el momento más oportuno, buscar ayuda profesional. Es
                                        importante recibir una atención en las primeras 72 horas, porque es allí cuando
                                        los médicos podemos hacer una intervención con antibióticos y antirretrovirales,
                                        para prevenir consecuencias como Enfermedades de Transmisión Sexual o VIH.
                                    </p>
                                    <p>
                                        <b>5. EL ROL DE LA SOCIEDAD.</b>Debe quedar claro que es complicado que el
                                        abusador no repita un episodio, es decir que si la víctima no se separa después
                                        de un primer evento esto se tornará repetitivo. Este es un problema a nivel de
                                        formación cultural, de cómo nos están criando, aquí debe tener mucha incidencia
                                        el gobierno. Desde pequeños nos deben hablar sobre cuáles son nuestros derechos
                                        y deberes y promover una sociedad libre de violencia. Es un cambio conductual,
                                        lo que toma mucho tiempo, porque los cambios de conductas no se logran
                                        fácilmente.
                                    </p>
                                    <p>
                                        #NoEstásSola<br />
                                        <b>LUGARES DE ATENCIÓN DE MÉDICOS SIN FRONTERAS EN TEGUCIGALPA.</b><br />
                                    <ul>
                                        <li>
                                            Centro de Salud Alonso Suazo: de lunes a viernes, de 7:00 a.m. a 4:00 p.m.
                                        </li>
                                        <li>
                                            Centro Integrado (Core 7): de lunes a viernes, de 8:00 a.m. a 5:00 p.m.
                                        </li>
                                        <li>
                                            UAPS Nueva Capital: de lunes a viernes, de 7:00 a.m. a 3:00 p.m.
                                        </li>
                                        <li>
                                            Hospital Escuela Universitario: de lunes a viernes, de 7:00 a.m. a 4:00 p.m.
                                        </li>
                                    </ul>
                                    </p>
                                    <h2>
                                        Enlace al Webinar
                                    </h2>
                                    <p>
                                        <a href="https://www.facebook.com/1209609139090738/posts/3151522701566029">
                                            https://www.facebook.com/1209609139090738/posts/3151522701566029
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="mdc-card__actions">
                            <button id="2020_05_27" class="mdc-button mdc-card__action mdc-card__action--button">
                                <span class="mdc-button__label">Leer más...</span>
                            </button>
                        </div>
                    </div>
                    <div class="mdc-card s-mdc-card__article">
                        <div class="mdc-card__primary-action">
                            <div class="s-mdc-videocontainer__media--16-9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/fzInJUuv-t0"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                                </iframe>
                            </div>
                            <div class="s-mdc-card__headers">
                                <h2>
                                    La violencia en tiempos del Coronavirus
                                </h2>
                                <h3>
                                    Webinar (23 de abril de 2020)
                                </h3>
                            </div>
                            <div class="s-mdc-card__body">
                                <p>
                                <ul>
                                    <li>
                                        El Programa Presidencial Ciudad Mujer realizó el webinar #NoEstásSola, para
                                        llevar un mensaje de aliento a las mujeres víctimas de violencia.
                                    </li>
                                    <li>
                                        Dinys Luciano y Juliette Tinoco, expertas en temas de lucha contra la
                                        violencia hacia la mujer, fueron las conferencistas invitadas.
                                    </li>
                                </ul>
                                </p>
                                <div id="RMC-2020_04_28" class="s-mdc-card__body--hidden">
                                    <p>
                                        <b>Tegucigalpa, Francisco Morazán (27 de abril de 2020).</b>En casa con un
                                        agresor. Esto no suena (ni es) seguro. Para abordar el tema de la violencia
                                        hacia la mujer durante el confinamiento, el Programa Presidencial Ciudad Mujer
                                        Honduras realizó el pasado jueves 23 de abril un webinar con el tema No estás
                                        sola.
                                    </p>
                                    <p>
                                        Desde República Dominicana nos acompañó Dinys Luciano, quien ha trabajado más de
                                        30 años en América Latina, África y Asia en torno a las violencias contra las
                                        mujeres y niñas en toda su diversidad. Por Honduras participó la abogada
                                        Juliette Tinoco, fiscal del Módulo de Atención Integral Especializada (MAIE),
                                        experta en Derechos Humanos y en atención a las mujeres sobrevivientes de
                                        violencia doméstica.
                                    </p>
                                    <p>
                                        “Que las mujeres estén confinadas en casa con agresores o potenciales agresores
                                        aumenta las posibilidades de que la violencia no solo incremente en número de
                                        episodios, sino que también aparezcan nuevas modalidades de violencia en el
                                        marco del confinamiento en un espacio privado”, introdujo Luciano.
                                    </p>
                                    <p>
                                        Por su parte, la abogada Tinoco aportó que la situación mundial frente al
                                        coronavirus ha provocado un aumento de las denuncias por maltrato, “con la
                                        campaña No estás sola nos referimos a la protección que deben recibir las
                                        mujeres de parte de las autoridades competentes”.
                                    </p>
                                    <p>
                                        Según la abogada, podemos hacernos una idea de cuántas mujeres están siendo
                                        sometidas a la violencia por parte de su pareja en estos días de cuarentena, “la
                                        violencia doméstica se da en un espacio privado, en donde aflora un sentimiento
                                        de culpa, de dependencia económica y emocional, presiones religiosas y
                                        sociales”.
                                    </p>
                                    <p>
                                        Pero se debe recordar, advierte Tinoco, que la violencia no solo está dentro del
                                        hogar, sino también en las comunidades, “no hay que olvidar que vivimos en un
                                        sistema patriarcal donde el hombre somete a la mujer y que la sociedad cree que
                                        estas deben estar subordinadas al hombre; todo esto se fusiona durante la
                                        cuarentena y la mujer queda expuesta en el hogar”.
                                    </p>
                                    <p>
                                        A nivel mundial se está haciendo énfasis en todas las formas de violencia que
                                        experimentan las mujeres, en el ámbito privado y en otros, comentó Luciano, “en
                                        algunos países, mujeres de la tercera edad están recibiendo amenazas,
                                        comentarios crueles y bullying incluso a través de redes sociales. En muchos
                                        países se han formado grupos para impedir que mujeres que han viajado y mujeres
                                        migrantes puedan entrar a sus comunidades”.
                                    </p>
                                    <p>
                                        <b>ACCIONES INTERINSTITUCIONALES</b>
                                    </p>
                                    <p>
                                        Ambas especialistas coinciden en que la emergencia por Covid-19 vuelve urgente
                                        las acciones interinstitucionales, “una sola institución no puede atenderlo
                                        todo, debemos hacer énfasis en la coordinación con organismos de seguridad
                                        pública, servicios de salud y servicios sociales; la atención debe estar
                                        coordinada con servicios de protección financiera y comunitaria, sabemos que la
                                        presión financiera genera estrés en las familias y a los hombres se les hace
                                        difícil manejar situaciones de estrés financiero y muchas veces estas
                                        situaciones de ansiedad e incertidumbre generan violencia hacia los miembros de
                                        la familia, niñas y niños, adolescentes, mujeres y adultos mayores”, explicó
                                        Luciano.
                                    </p>
                                    <p>
                                        <b>EL PAPEL DE LA COMUNIDAD</b>
                                    </p>
                                    <p>
                                        La comunidad juega un rol importante tanto en la prevención como en la
                                        identificación de las situaciones de violencia hacia la mujer. Según comentó
                                        Luciano, se deben buscar estrategias de articulación con la comunidad, pues esto
                                        puede hacer la diferencia.
                                    </p>
                                    <p>
                                        “En África del Sur se han creado coaliciones entre instituciones, iglesias y
                                        grupos comunitarios para dar apoyo conjunto a las comunidades, con el fin de
                                        prevenir la violencia y atender sus consecuencias”.
                                    </p>
                                    <p>
                                        <b>VINCULAR ATENCIÓN CON PREVENCIÓN</b>
                                    </p>
                                    <p>
                                        “No solo se trata de promover que hay servicios, sino también de la prevención
                                        primaria”, sentenció Luciano. Pero, ¿cómo promover atención y prevención en
                                        tiempos de cuarentena? La especialista habló de opciones como las redes sociales
                                        y medios de comunicación, pues desde estos espacios se puede promover la
                                        solidaridad e información para reducir la violencia.
                                    </p>
                                    <p>
                                        “Estamos haciendo énfasis en cuatro puntos: coordinación interinstitucional,
                                        coordinación interinstitucional con comunidades, estrategias que previenen la
                                        violencia con protección financiera y seguridad alimentaria, además de la
                                        coordinación entre actividades preventivas con servicios”.
                                    </p>
                                    <p>
                                        El llamado de las especialistas es a la denuncia, ya sea de parte de las mujeres
                                        víctimas como de los familiares cercanos o vecinos, quienes lo pueden hacer
                                        anónimamente, el fin es buscar ayuda y que esta no llegue tarde.
                                    </p>
                                    <p>
                                        En estos tiempos de coronavirus, el 911 continúa activo para atender estas
                                        denuncias. Los Centros Ciudad Mujer, a través del Módulo de Atención y
                                        Protección de los Derechos de la Mujer (MAPRODEM), a diario buscan nuevas
                                        estrategias para apoyar a las mujeres durante la cuarentena.
                                    </p>
                                    <p>
                                        Las mujeres tienen el derecho a vivir sin violencia, por eso el mensaje de
                                        Ciudad Mujer es No estás sola.
                                    </p>
                                    <h2>
                                        Enlace al Webinar
                                    </h2>
                                    <p>
                                        <a href="https://www.facebook.com/ciudadmujerhn/videos/185004045838285">
                                            https://www.facebook.com/ciudadmujerhn/videos/185004045838285
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="mdc-card__actions">
                            <button id="2020_04_28" class="mdc-button mdc-card__action mdc-card__action--button">
                                <span class="mdc-button__label">Leer más...</span>
                            </button>
                        </div>
                    </div>
                </section>
            </section>
            <section class="s-article__text">
                <p>
                    <i>
                        Ciudad Mujer busca contribuir al mejoramiento de las condiciones de vida de las mujeres en
                        Honduras
                        en las áreas de autonomía económica, atención a la violencia, salud sexual y reproductiva,
                        educación comunitaria,
                        y otras afines, mediante una red de servicios ofrecidos de manera integral por las instituciones
                        públicas competentes.
                    </i>
                </p>
            </section>
        </article>
    </main>
</section>
{% endblock %}