{% extends 'layout_topbar_footer.html' %}
{% block page_description %}Ciudad Mujer Honduras, Servicios Virtuales MAI, Módulo de Atencion Infantil{% endblock %}
{% block page_title %}CMH - Servicios Virtuales MAI{% endblock %}
{% block body %}
<section class="s-maincontainer">
    <main class="s-content">
        <article class="s-article s-article--centered">
            <header>
                <h2>
                    Servicios Virtuales MAI
                </h2>
            </header>
            <section id="mdc-tab-bar__id-serviciosvirtuales-content">
                <section
                    class="s-article__text s-article__text--centered s-article__text-mdc-card s-article__text--show"
                    tabindex="0">
                    <div class="mdc-card s-mdc-card__article">
                        <div class="mdc-card__primary-action">
                            <div class="s-mdc-videocontainer__media--16-9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/mYpgfNyEJbM"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                                </iframe>
                            </div>
                            <div class="s-mdc-card__headers">
                                <h2>
                                    Implicaciones psicológicas y legales del trabajo infantil
                                </h2>
                                <h3>
                                    Webinar (11 de junio de 2020)
                                </h3>
                            </div>
                            <div class="s-mdc-card__body">
                                <p>
                                    <b>Tegucigalpa (Francisco Morazán)</b>. ¡El trabajo infantil debe ser erradicado!
                                    Así de enfáticas se pronunciaron las dos especialistas invitadas el webinar
                                    organizado por el Programa Presidencial Ciudad Mujer en el marco del 12 de Junio,
                                    fecha en la que se conmemora el Día Mundial contra el Trabajo Infantil.
                                </p>
                                <div id="RMC-2020_06_19" class="s-mdc-card__body--hidden">
                                    <p>
                                        Las exponentes fueron la licenciada Patricia Alvarado, psicóloga de la Fiscalía
                                        Especial de Protección a la Niñez, y la abogada Ela Paredes, jefa de la Fiscalía
                                        Especial de Protección a la Niñez.
                                    </p>
                                    <p>
                                        El concepto de trabajo infantil según el convenio 138 de la Organización
                                        Internacional del Trabajo es todo tipo de trabajo que por su naturaleza o
                                        intensidad es perjudicial para la escolaridad de los niños o perjudica su salud
                                        o desarrollo.
                                    </p>
                                    <p>
                                        Según explicó Patricia Alvarado, psicóloga de la Fiscalía Especial de Protección
                                        a la Niñez, “el trabajo infantil interfiere con el horario escolar de las niñas
                                        y niños o le obliga a abandonar la escuela de forma prematura, ya que no tienen
                                        tiempo para los estudios”.
                                    </p>
                                    <p>
                                        La psicóloga agregó que toda actividad que entorpezca el normal desarrollo de un
                                        niño se considera como un atentado a sus derechos, y detalló que se estima que
                                        unos 216 millones de niñas y niños entre 5 a 17 años realizan trabajos
                                        peligrosos, según datos de UNIFE (2010).
                                    </p>
                                    <p>
                                        <b>¿Por qué no deben trabajar los niños?</b>
                                    </p>
                                    <p>
                                        El trabajo no le permite al menor ser una niña o un niño, por ejemplo, no le da
                                        espacio para la actividad lúdica, básica para su desarrollo social. El trabajo
                                        atenta contra sus derechos fundamentales y puede poner en riesgo su salud mental
                                        y física, porque existen labores que entorpecen el normal crecimiento y atrofian
                                        su cuerpo.
                                    </p>
                                    <p>
                                        <b>Consecuencias del trabajo infantil</b>
                                    </p>
                                    <p>
                                        Según Alvarado, el trabajo infantil tiene múltiples consecuencias.
                                    </p>
                                    <p>
                                        <b>A nivel físico</b>: enfermedades crónicas, retraso en el crecimiento,
                                        agotamiento físico, abusos físicos y psíquicos, están expuestos a infecciones a
                                        causa de químicos, heridas, quemadura, amputaciones, dolores en las
                                        articulaciones y deformaciones óseas.
                                    </p>
                                    <p>
                                        <b>A nivel social y moral</b>: deterioro de la calidad del capital humano, baja
                                        calidad de vida, pobreza, pobreza extrema, vulnerabilidad, profundiza la
                                        desigualdad, viola los derechos humanos fundamentales, impide o limita el
                                        adecuado proceso educativo, se enfrentan a un ambiente adulto y, a veces, hostil
                                        y puede generar traumas y problemas de adaptación social.
                                    </p>
                                    <p>
                                        <b>A nivel psicológico</b>: al ingresar al mundo laboral a una temprana edad,
                                        hace que se relacionen con personas que no pertenecen a su grupo de pares, lo
                                        que involucra un efecto en la socialización de los infantes y en su proceso de
                                        construcción de la identidad. Esto generaría apatía, precocidad, emancipación
                                        prematura y hostilidad. También se puede dar un acelerado proceso de maduración,
                                        daños permanentes en su personalidad y pérdida de autoestima.
                                    </p>
                                    <p>
                                        <b>A nivel económico</b>: provoca bajo crecimiento económico, crecimiento sin
                                        equidad, pérdida en promedio de dos años de escolaridad, que a largo plazo
                                        significa un 20% menos de salario durante toda su vida adulta, pérdida de poder
                                        adquisitivo e incidencia negativa en el PIB.
                                    </p>
                                    <p>
                                        <b>Implicaciones legales del trabajo infantil</b>
                                    </p>
                                    <p>
                                        La abogada Paredes inició su intervención hablando de la Convención sobre los
                                        Derechos del Niño, que consagra el derecho de las niñas y niños a estar
                                        protegidos contra la explotación económica y contra el desempeño de cualquier
                                        trabajo que pueda ser peligroso o entorpecer su educación o que sea nocivo para
                                        su salud y para su desarrollo integral.
                                    </p>
                                    <p>
                                        Conforme a lo establecido por la OIT, los trabajos realizados por niñas y niños
                                        con una edad por debajo de la edad mínima (14 años en Honduras) y los trabajos
                                        peligrosos llevados a cabo por cualquier persona menor de 18 años, configuran el
                                        trabajo infantil.
                                    </p>
                                    <p>
                                        “Cuando decimos ¡no al trabajo infantil!, cuando hacemos campañas y el gobierno
                                        trabaja en la erradicación del trabajo infantil, estamos hablando de este tipo
                                        de trabajos que son peligrosos y que no le permiten al niño asistir a sus
                                        procesos educativos. Es importante que tengamos claro que no nos estamos
                                        oponiendo a que los niños puedan realizar trabajos ligeros o que los niños
                                        mayores de 14 años puedan realizar algún tipo de labores, a lo que nos oponemos
                                        es al trabajo de niños menores de 14 años y trabajos peligrosos realizados por
                                        niños menores de 18 años”.
                                    </p>
                                    <p>
                                        La mayoría de niños que trabajan se ubican en el área rural, “el 66.8% están
                                        realizando trabajos en la agricultura, expuestos pesticidas o levantando cargas
                                        muy pesadas que dañan su estructura ósea”, dijo la fiscal.
                                    </p>
                                    <p>
                                        Paredes mencionó que hay un listado sobre las peores formas de trabajo y cuáles
                                        son los trabajos peligrosos, por lo que constantemente la Secretaría de Trabajo
                                        realiza inspecciones para evitar que nuestra niñez se exponga y que la Fiscalía
                                        de la Niñez cumpla con su deber de velar por los derechos de los infantes.
                                    </p>
                                    <p>
                                        Las consultas de los participantes se orientaron en cómo la población se puede
                                        sumar para erradicar el trabajo infantil y expusieron casos como los trabajos
                                        familiares o domésticos, a los que la abogada explicó que se califican como
                                        “explotación económica”.
                                    </p>
                                    <p>
                                        Paredes argumentó que la lucha por erradicar el trabajo infantil no solo es
                                        responsabilidad del Estado, sino también de la sociedad en general y de los
                                        padres de familia en particular.
                                    </p>
                                    <h2>
                                        Enlace al Webinar
                                    </h2>
                                    <p>
                                        <a href="https://www.facebook.com/ciudadmujerhn/videos/1431494127034710/">
                                            https://www.facebook.com/ciudadmujerhn/videos/1431494127034710/
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="mdc-card__actions">
                            <button id="2020_06_19" class="mdc-button mdc-card__action mdc-card__action--button">
                                <span class="mdc-button__label">Leer más...</span>
                            </button>
                        </div>
                    </div>
                </section>
            </section>
            <section class="s-article__text">
                <p>
                    <i>
                        Ciudad Mujer busca contribuir al mejoramiento de las condiciones de vida de las mujeres en
                        Honduras
                        en las áreas de autonomía económica, atención a la violencia, salud sexual y reproductiva,
                        educación comunitaria,
                        y otras afines, mediante una red de servicios ofrecidos de manera integral por las instituciones
                        públicas competentes.
                    </i>
                </p>
            </section>
        </article>
    </main>
</section>
{% endblock %}