{% extends 'layout_topbar_footer.html' %}
{% block page_description %}Ciudad Mujer Honduras, Servicios Virtuales MAE, Módulo de Autonomía Económica{% endblock %}
{% block page_title %}CMH - Servicios Virtuales MAE{% endblock %}
{% block body %}
<section class="s-maincontainer">
    <main class="s-content">
        <article class="s-article s-article--centered">
            <header>
                <h2>
                    Servicios Virtuales MAE
                </h2>
            </header>
            <section id="mdc-tab-bar__id-serviciosvirtuales-content">
                <section
                    class="s-article__text s-article__text--centered s-article__text-mdc-card s-article__text--show"
                    tabindex="0">
                    <div class="mdc-card s-mdc-card__article">
                        <div class="mdc-card__primary-action">
                            <div class="s-mdc-videocontainer__media--16-9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/T2t8cNAHoQY"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                                </iframe>
                            </div>
                            <div class="s-mdc-card__headers">
                                <h2>
                                    Medidas y beneficios fiscales para las emprendedoras
                                </h2>
                                <h3>
                                    Webinar (30 de abril de 2020)
                                </h3>
                            </div>
                            <div class="s-mdc-card__body">
                                <p>
                                    Arnold Yanes, jefe de asistencia al cumplimiento Nacional del SAR nos platica sobre
                                    las medidas y beneficios fiscales para las emprendedoras.
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
            <section class="s-article__text">
                <p>
                    <i>
                        Ciudad Mujer busca contribuir al mejoramiento de las condiciones de vida de las mujeres en
                        Honduras
                        en las áreas de autonomía económica, atención a la violencia, salud sexual y reproductiva,
                        educación comunitaria,
                        y otras afines, mediante una red de servicios ofrecidos de manera integral por las instituciones
                        públicas competentes.
                    </i>
                </p>
            </section>
        </article>
    </main>
</section>
{% endblock %}