{% extends 'layout_topbar_footer.html' %}
{% block page_description %}Ciudad Mujer Honduras, Servicios Virtuales MAE, Módulo de Autonomía Económica{% endblock %}
{% block page_title %}CMH - Servicios Virtuales MAE{% endblock %}
{% block body %}
<section class="s-maincontainer">
    <main class="s-content">
        <article class="s-article s-article--centered">
            <header>
                <h2>
                    Servicios Virtuales MAE
                </h2>
            </header>
            <section class="mdc-tab-bar" id="mdc-tab-bar__id-noticias" role="tablist">
                <div class="mdc-tab-scroller">
                    <div class="mdc-tab-scroller__scroll-area">
                        <div class="mdc-tab-scroller__scroll-content">
                            <button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0">
                                <span class="mdc-tab__content">
                                    <span class="mdc-tab__text-label">SEDUC</span>
                                </span>
                                <span class="mdc-tab-indicator mdc-tab-indicator--active">
                                    <span
                                        class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                </span>
                                <span class="mdc-tab__ripple"></span>
                            </button>
                            <button class="mdc-tab" role="tab" tabindex="1">
                                <span class="mdc-tab__content">
                                    <span class="mdc-tab__text-label">INFOP</span>
                                </span>
                                <span class="mdc-tab-indicator">
                                    <span
                                        class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                </span>
                                <span class="mdc-tab__ripple"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
            <section id="mdc-tab-bar__id-noticias-content">
                <section
                    class="s-article__text s-article__text--centered s-article__text-mdc-card s-article__text--show"
                    tabindex="0">
                    <div class="mdc-card s-mdc-card__article">
                        <div class="mdc-card__primary-action">
                            <div class="s-mdc-videocontainer__media--16-9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/oozvIfle5mY"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                                </iframe>
                            </div>
                            <div class="s-mdc-card__headers">
                                <h2>
                                    ¿Como desarrollar la creatividad?
                                </h2>
                                <h3>
                                    Webinar (24 de julio de 2020)
                                </h3>
                            </div>
                            <div class="s-mdc-card__body">
                                <p>
                                    <b>Tegucigalpa (Francisco Morazán).</b> “La creatividad no es visualizar algo, sino
                                    el crear algo después de haberlo visualizado” (James Russell Lowell, poeta).
                                </p>
                                <div id="RMC-2020_07_24" class="s-mdc-card__body--hidden">
                                    <p>
                                        Con esta frase arrancó el webinar ¿Cómo desarrollar la creatividad?, impartido
                                        por Esthela Caicedo, experta en liderazgo, valores y desarrollo personal, además
                                        de ser coach y trainer certificada del John Maxwell Team.
                                    </p>
                                    <p>
                                        Gracias al taller virtual de Caicedo, la audiencia del Programa Presidencial
                                        Ciudad Mujer tuvo la oportunidad de conocer qué es la creatividad, los
                                        beneficios de practicarla, estrategias prácticas para desarrollarla, entre otros
                                        interesantes temas.
                                    </p>
                                    <p>
                                        La expositora enfatizó en conceptos como “ser creativos no es solo tener ideas,
                                        sino llevarlos al cabo”, “la creatividad es inventar, experimentar, crecer,
                                        tomar riesgos, romper reglas, cometer errores y divertirse” y “la creatividad es
                                        un gran hábito y la mejor creatividad es el resultado de los buenos hábitos de
                                        trabajo.
                                    </p>
                                    <p>
                                        <b>Beneficios de la creatividad</b>
                                    </p>
                                    <p>
                                    <ul>
                                        <li>
                                            Construye y mejora la autoestima, “cuando estoy siendo creativo, estoy
                                            empoderándome, conociendo lo que me gusta y lo que no”, explicó Caicedo.
                                        </li>
                                        <li>
                                            Desarrolla la comunicación
                                        </li>
                                        <li>
                                            Aumenta la capacidad intuitiva para resolver mejor cualquier problema
                                        </li>
                                        <li>
                                            Desarrolla nuestra imaginación
                                        </li>
                                        <li>
                                            Aumento del entusiasmo
                                        </li>
                                        <li>
                                            Ayuda a salir de la rutina
                                        </li>
                                        <li>
                                            Despierta la curiosidad intelectual
                                        </li>
                                        <li>
                                            Mayor capacidad para afrontar cualquier reto
                                        </li>
                                        <li>
                                            Ayuda a ahorrar
                                        </li>
                                        <li>
                                            Disminuirá su estrés, ser creativo es vigorizante y divertido
                                        </li>
                                        <li>
                                            Forjará conexiones emocionales con los demás
                                        </li>
                                        <li>
                                            Aumenta la capacidad de adaptación al entorno
                                        </li>
                                    </ul>
                                    </p>
                                    <p>
                                        <b>¿Qué acciones debe realizar para desarrollar la creatividad?</b>
                                    </p>
                                    <p>
                                        Entre las estrategias que propuso Caicedo destaca el desarrollar tu CEM (Cuerpo,
                                        Espíritu y Mente), “esto ayuda a tener felicidad a pesar de las dificultades,
                                        porque la felicidad, al igual que las actitudes, las decide uno mismo”.
                                    </p>
                                    <p>
                                        Otras estrategias para desarrollar la creatividad es renovar tu mente, pensar en
                                        positivo, ser auténtico, descubrir lo que te apasiona, tus habilidades y
                                        talentos, enfocarte en tus fortalezas, escribir tus ideas, elaborar un plan de
                                        acción con metas claras, específicas y medibles, “tan claras que un niños de
                                        siete años las pueda entender y debemos ponerles fecha, porque si no es difícil
                                        que las logremos”, recomendó Caicedo.
                                    </p>
                                    <p>
                                        La coach también aconsejó invertir tiempo y dinero en capacitarse sobre el tema
                                        que quieres desarrollar, rodearse de personas positivas, reservar tiempo para
                                        estar a solas, pensar y crear y buscar fuentes de inspiración e información.
                                    </p>
                                    <p>
                                        Además, recomendó la frase “¡hazlo con miedo, pero hazlo!” para animar a las
                                        personas a emprender.
                                    </p>
                                    <p>
                                        Según la especialista, también es importante ser observador, curioso, original y
                                        genuinos e invitó a los participantes a practicar la ley de la intencionalidad,
                                        “es decir, hacer lo que no quiero, pero hacerlo porque me conviene”, finalizó.
                                    </p>
                                    <p>
                                        ¡Diviértase siendo creativo!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="mdc-card__actions">
                            <button id="2020_07_24" class="mdc-button mdc-card__action mdc-card__action--button">
                                <span class="mdc-button__label">Leer más...</span>
                            </button>
                        </div>
                    </div>
                    <div class="mdc-card s-mdc-card__article">
                        <div class="mdc-card__primary-action">
                            <div class="s-mdc-videocontainer__media--16-9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/UiSas-Hqt4U"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                                </iframe>
                            </div>
                            <div class="s-mdc-card__headers">
                                <h2>
                                    Mi hogar, mis finanzas
                                </h2>
                                <h3>
                                    Webinar (10 de julio de 2020)
                                </h3>
                            </div>
                            <div class="s-mdc-card__body">
                                <p>
                                    <b>Tegucigalpa (Francisco Morazán).</b> Con el propósito de conocer la importancia
                                    de llevar un control de ingresos y egresos e identificar oportunidades de ahorro en
                                    los gastos personales y familiares, el Programa Presidencial Ciudad Mujer realizó el
                                    seminario web Mi hoga, mis finanzas, con la participación de Tania López,
                                    Especialista de Educación Financiera de la Comisión Nacional de Bancos y Seguros
                                    (CNBS).
                                </p>
                                <div id="RMC-2020_07_14" class="s-mdc-card__body--hidden">
                                    <p>
                                        La experta habló sobre la importancia del ahorro y comentó que uno de los
                                        primeros pasos para ahorrar es hacer una lista de lo que necesitas antes de ir
                                        de compras y apegarse a ella, además de ir de comprar cuando no tengas hambre.
                                    </p>
                                    <p>
                                        “Otro consejo es registrar todos los movimientos que afectan tu control
                                        financiero, porque si los dejas pasar es posible que se te olviden”.
                                    </p>
                                    <p>
                                        En cuanto a los descuentos y promociones, López recomendó comparar los costos,
                                        beneficios y la calidad de los productos financieros, además de comparar los
                                        precios antes de comprar, para elegir la opción que más te convenga.
                                    </p>
                                    <p>
                                        “También es importante aprovechar los descuentos por pago puntual o anticipado
                                        de servicios”.
                                    </p>
                                    <p>
                                        La especialista de la CNBS hizo hincapié en pequeños hábitos de ahorro que
                                        podemos emplear en nuestro hogar, como ahorrar energía, “use solo los focos del
                                        espacio en donde esté, tape la olla en la que cocina, para ahorrar gas, consumir
                                        frutas y verduras de temporada, utilizar la bicicleta como medio de transporte y
                                        compartir su auto con los vecinos cuando vayan al mismo destino”.
                                    </p>
                                    <p>
                                        <b>Consejos para llevar a cabo con éxito su control financiero.</b>
                                    </p>
                                    <p>
                                    <ol>
                                        <li>
                                            Es posible que la primera vez que realices tu control financiero te tome un
                                            poco de tiempo. ¡Anímate, lo importante es empezar, comience esta semana!
                                        </li>
                                        <li>
                                            Identifica los compromisos de pago que ya tienes definidos (organizador
                                            personal). Puede empezar utilizando sobres rotulados (luz renta, etc.) para
                                            separar el dinero correspondiente. ¡Así no se le escapará ninguno!
                                        </li>
                                        <li>
                                            Registre todos los movimiento que afectan su control financiero, si los deja
                                            pasar es posible que se le olviden.
                                        </li>
                                        <li>
                                            Tenga siempre a la mano dónde realizar sus registros, puede ser en una
                                            libreta o hasta en un App en su celular.
                                        </li>
                                        <li>
                                            Guarde durante un tiempo sus recibos de pago, esto le permitirá identificar
                                            si ha disminuido o eliminado algunos gastos.
                                        </li>
                                        <li>
                                            Establezca un día para revisar su control financiero y si es posible
                                            involucre a los miembros de su familia.
                                        </li>
                                    </ol>
                                    </p>
                                    <p>
                                        También recomendó descargar la App “Yo y mi dinero Honduras” en el Play Store y
                                        en el App Store, ya que tiene varias funciones que le ayudarán a llevar un mejor
                                        control de sus finanzas.
                                    </p>
                                    <p>
                                        La especialista finalizó su intervención con el mensaje: ¡Protégete, maneja tus
                                        finanzas inteligentemente!
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="mdc-card__actions">
                            <button id="2020_07_14" class="mdc-button mdc-card__action mdc-card__action--button">
                                <span class="mdc-button__label">Leer más...</span>
                            </button>
                        </div>
                    </div>
                    <div class="mdc-card s-mdc-card__article">
                        <div class="mdc-card__primary-action">
                            <div class="mdc-card__media mdc-card__media--16-9 s-mdc-card__media-content"
                                style="background: url({{ url_for('static', filename='images/articles/2020_06_20/01.jpg') }}); background-size: cover;">
                            </div>
                            <div class="s-mdc-card__headers">
                                <h2>
                                    ¡En Ciudad Mujer, fomentamos la igualdad!
                                </h2>
                                <h3>
                                    Nota de Prensa (20 de junio del 2020)
                                </h3>
                            </div>
                            <div class="s-mdc-card__body">
                                <p>
                                    Tenemos derecho a una educación libre de estereotipos, que no promueva la
                                    discriminación femenina en el mundo del trabajo, la familia y los espacios públicos
                                    de poder.
                                </p>
                                <div id="RMC-2020_06_20" class="s-mdc-card__body--hidden">
                                    <p>
                                        #DíaMundialPorLaEducaciónNoSexista
                                    </p>
                                    <p>
                                        <a
                                            href="https://www.facebook.com/ciudadmujerhn/photos/a.3217686928282939/3217687724949526/?type=3">
                                            https://www.facebook.com/ciudadmujerhn/photos/a.3217686928282939/3217687724949526/?type=3
                                        </a>
                                    </p>
                                    <h2>
                                        Fotografías
                                    </h2>
                                    <ul class="mdc-image-list mdc-image-list s-mdc-image-list">
                                        <li class="mdc-image-list__item">
                                            <div class="mdc-image-list__image-aspect-container">
                                                <img class="mdc-image-list__image s-mdc-image-list__image lazyload"
                                                    data-src="{{ url_for('static', filename='images/articles/2020_06_20/01.jpg') }}">
                                            </div>
                                        </li>
                                        <li class="mdc-image-list__item">
                                            <div class="mdc-image-list__image-aspect-container">
                                                <img class="mdc-image-list__image s-mdc-image-list__image lazyload"
                                                    data-src="{{ url_for('static', filename='images/articles/2020_06_20/02.jpg') }}">
                                            </div>
                                        </li>
                                        <li class="mdc-image-list__item">
                                            <div class="mdc-image-list__image-aspect-container">
                                                <img class="mdc-image-list__image s-mdc-image-list__image lazyload"
                                                    data-src="{{ url_for('static', filename='images/articles/2020_06_20/03.jpg') }}">
                                            </div>
                                        </li>
                                        <li class="mdc-image-list__item">
                                            <div class="mdc-image-list__image-aspect-container">
                                                <img class="mdc-image-list__image s-mdc-image-list__image lazyload"
                                                    data-src="{{ url_for('static', filename='images/articles/2020_06_20/04.jpg') }}">
                                            </div>
                                        </li>
                                        <li class="mdc-image-list__item">
                                            <div class="mdc-image-list__image-aspect-container">
                                                <img class="mdc-image-list__image s-mdc-image-list__image lazyload"
                                                    data-src="{{ url_for('static', filename='images/articles/2020_06_20/05.jpg') }}">
                                            </div>
                                        </li>
                                        <li class="mdc-image-list__item">
                                            <div class="mdc-image-list__image-aspect-container">
                                                <img class="mdc-image-list__image s-mdc-image-list__image lazyload"
                                                    data-src="{{ url_for('static', filename='images/articles/2020_06_20/06.jpg') }}">
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="mdc-card__actions">
                            <button id="2020_06_20" class="mdc-button mdc-card__action mdc-card__action--button">
                                <span class="mdc-button__label">Leer más...</span>
                            </button>
                        </div>
                    </div>
                    <div class="mdc-card s-mdc-card__article">
                        <div class="mdc-card__primary-action">
                            <div class="s-mdc-videocontainer__media--16-9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/cDeDt6MC4wQ"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                                </iframe>
                            </div>
                            <div class="s-mdc-card__headers">
                                <h2>
                                    Emprender en tiempos de crisis
                                </h2>
                                <h3>
                                    Webinar (05 de junio de 2020)
                                </h3>
                            </div>
                            <div class="s-mdc-card__body">
                                <p>
                                    <b>Tegucigalpa (Francisco Morazán).</b> Cuando el conocimiento crece, la oportunidad
                                    aparece. Esta frase destacó durante el webinar Emprender en tiempos de crisis,
                                    organizado por el Programa Presidencial Ciudad Mujer con la participación de Andy
                                    Rodríguez y Yanitza Álvarez, representantes del Centro de Desarrollo Empresarial
                                    (CDE) Región Valles de Olancho.
                                </p>
                                <div id="RMC-2020_06_09" class="s-mdc-card__body--hidden">
                                    <p>
                                        La licenciada Rodríguez expuso sobre cómo el contexto actual originado por el
                                        Covid-19 ha llevado a muchas personas a emprender por necesidad, ya que muchos
                                        han perdido sus empleos o se han reducido sus ingresos.
                                    </p>
                                    <p>
                                        “También existe el emprendimiento por oportunidad, que es cuando ya tenemos
                                        nuestra idea y buscamos desarrollarla, investigamos y nos capacitamos”, explicó
                                        Rodríguez.
                                    </p>
                                    <p>
                                        Agregó que “el contexto actual es una prueba de fuego, nadie se lo esperaba, las
                                        empresas se han reestructurado, han mutado y se han redireccionado. Uno de los
                                        mayores desafíos como emprendedores en superar esto y adaptarse a los cambios”.
                                    </p>
                                    <p>
                                        Para ello aconsejó hacer uso de herramientas que pueden adaptarse a su negocio y
                                        que nos permiten utilizarlas bajo el contexto actual; la tecnología es una de
                                        ellas. “Tenemos que ver el entorno, tener la mente abierta y aprovechar las
                                        oportunidades que se están dando”.
                                    </p>
                                    <p>
                                        <b>Capacitación, la clave.</b>
                                    </p>
                                    <p>
                                        Ambas especialistas hablaron sobre la importancia de la capacitación y de
                                        aprovechar los talleres gratuitos que se imparten a través del Centro de
                                        Desarrollo Empresarial y el Módulo de Autonomía Económica de los Centros Ciudad
                                        Mujer.
                                    </p>
                                    <p>
                                        “Con la capacitación garantizamos la autonomía personal y económica de las
                                        mujeres, porque no solo tendrán una mayor fuente de conocimiento, sino que les
                                        dará la oportunidad de tomar decisiones acertadas sobre el rumbo que le quieren
                                        dar a su negocio”.
                                    </p>
                                    <p>
                                        Algunos de los cursos disponibles tanto en Ciudad Mujer como en el CDE se
                                        enfocan en la motivación, en el análisis de la idea de negocio, estudio del
                                        mercado, atención al cliente, la propuesta de valor y factores diferenciadores
                                        del producto o servicio que vamos a ofrecer, cómo realizar un plan de negocio,
                                        cómo establecer un presupuesto y manejar los recursos de forma efectiva, entre
                                        otros.
                                    </p>
                                    <p>
                                        <b>Miedo a emprender.</b>
                                    </p>
                                    <p>
                                        A criterio de la licenciada Álvarez el miedo a emprender en normal, pero para
                                        reducir los riesgos se deben tomar en cuenta dos aspectos: la planificación y el
                                        identificar una oportunidad para satisfacer una necesidad. “Analizando el
                                        entorno podemos encontrar esa oportunidad”, dijo.
                                    </p>
                                    <p>
                                        “Ante este panorama, debemos transformarnos, innovar, podemos hacer ajustes en
                                        nuestro modelo de negocios, ver oportunidades en nuestra comunidad, entre los
                                        vecinos y pensar en qué les podemos ofrecer; podemos transformar nuestro negocio
                                        en un servicio”, explicó Álvarez.
                                    </p>
                                    <p>
                                        La especialista en inteligencia de mercados habló sobre pensar más allá de un
                                        negocio físico para dar a conocer nuestros productos, lo podemos hacer desde
                                        nuestras casas, a través de una página web, por medio de redes sociales, etc.
                                    </p>
                                    <p>
                                        “Si nuestros clientes no nos pueden visitar, podemos usar otras plataformas para
                                        conectarnos con ellos, esto también nos ayudará a mantener los empleos que hemos
                                        generado. Hay suscripciones, talleres, charlas de las que podemos hacer uso y
                                        nuestros clientes estarán agradecidos que durante esta pandemia les brindemos un
                                        servicio especializado e innovador”.
                                    </p>
                                    <p>
                                        Álvarez destacó los rubros que están generando más oportunidades en estos
                                        tiempos de Covid-19, entre ellos está el sector salud, el sector tecnológico y
                                        el de servicios.
                                    </p>
                                    <p>
                                        “El sector servicio ha logrado un repunte porque muchas personas han podido
                                        transformar sus conocimientos en servicios, es decir, muestran sus habilidades o
                                        experiencias en ciertas áreas y ha sido una forma de rentabilizar y mantenerse
                                        vigentes. Vemos cómo en zonas rurales de Honduras ahora hay servicio a
                                        domicilio, este es otro ejemplo de cómo crear una oportunidad a partir de una
                                        necesidad”.
                                    </p>
                                    <p>
                                        ¡Este es un momento de oportunidades! ¡La crisis es una oportunidad de cambios y
                                        de crecimiento!
                                    </p>
                                    <h2>
                                        Enlace al Webinar
                                    </h2>
                                    <p>
                                        <a href="https://www.facebook.com/ciudadmujerhn/videos/1989965921135036/">
                                            https://www.facebook.com/ciudadmujerhn/videos/1989965921135036/
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="mdc-card__actions">
                            <button id="2020_06_09" class="mdc-button mdc-card__action mdc-card__action--button">
                                <span class="mdc-button__label">Leer más...</span>
                            </button>
                        </div>
                    </div>
                    <div class="mdc-card s-mdc-card__article">
                        <div class="mdc-card__primary-action">
                            <div class="s-mdc-videocontainer__media--16-9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/YNouC6QJ1Ms"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                                </iframe>
                            </div>
                            <div class="s-mdc-card__headers">
                                <h2>
                                    ¡CLASE DE CIENCIAS NATURALES, LA HIDROSFERA!
                                </h2>
                                <h3>
                                    Webinar (14 de mayo de 2020)
                                </h3>
                            </div>
                            <div class="s-mdc-card__body">
                                <p>
                                    Clase de Ciencias Naturales para octavo grado Tema: La hidrosfera MAE-SEDUC.
                                    #HondurasQuedateEnCasa
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="mdc-card s-mdc-card__article">
                        <div class="mdc-card__primary-action">
                            <div class="s-mdc-videocontainer__media--16-9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/xgT1vlA96Xk"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                                </iframe>
                            </div>
                            <div class="s-mdc-card__headers">
                                <h2>
                                    ¡EL AGUA Y SUS PROPIEDADES, CLASE PARA OCTAVO GRADO!
                                </h2>
                                <h3>
                                    Webinar (14 de mayo de 2020)
                                </h3>
                            </div>
                            <div class="s-mdc-card__body">
                                <p>
                                    Clase de ciencias naturales para octavo grado Tema: el agua y sus propiedades
                                    MAE-SEDUC. #HondurasQuedateEnCasa
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="mdc-card s-mdc-card__article">
                        <div class="mdc-card__primary-action">
                            <div class="s-mdc-videocontainer__media--16-9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/AB7k7wcNQ5o"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                                </iframe>
                            </div>
                            <div class="s-mdc-card__headers">
                                <h2>
                                    ¡CLASE DE CIENCIAS NATURALES, OCTAVO GRADO!
                                </h2>
                                <h3>
                                    Webinar (14 de mayo de 2020)
                                </h3>
                            </div>
                            <div class="s-mdc-card__body">
                                <p>
                                    Clase de ciencias naturales para octavo grado Tema: Cuidemos nuestro liquido vital
                                    MAE-SEDUC. #HondurasQuedateEnCasa
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="mdc-card s-mdc-card__article">
                        <div class="mdc-card__primary-action">
                            <div class="s-mdc-videocontainer__media--16-9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/I6l_LpuGKQs"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                                </iframe>
                            </div>
                            <div class="s-mdc-card__headers">
                                <h2>
                                    ¡CLASE DE QUÍMICA III!
                                </h2>
                                <h3>
                                    Webinar (14 de mayo de 2020)
                                </h3>
                            </div>
                            <div class="s-mdc-card__body">
                                <p>
                                    Clase de la nomenclatura de alcános para undécimo grado Bachillerato acelerado
                                    MAE-SEDUC. #HondurasQuedateEnCasa
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="mdc-card s-mdc-card__article">
                        <div class="mdc-card__primary-action">
                            <div class="s-mdc-videocontainer__media--16-9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/d1klUbJAIi4"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                                </iframe>
                            </div>
                            <div class="s-mdc-card__headers">
                                <h2>
                                    ¡CLASE DE MATEMÁTICAS I!
                                </h2>
                                <h3>
                                    Webinar (14 de mayo de 2020)
                                </h3>
                            </div>
                            <div class="s-mdc-card__body">
                                <p>
                                    Clase de matemáticas I para décimo grado Bachillerato acelerado MAE-SEDUC.
                                    #HondurasQuedateEnCasa
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="mdc-card s-mdc-card__article">
                        <div class="mdc-card__primary-action">
                            <div class="s-mdc-videocontainer__media--16-9">
                                <iframe width="560" height="315" src="https://www.youtube.com/embed/T2t8cNAHoQY"
                                    frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen>
                                </iframe>
                            </div>
                            <div class="s-mdc-card__headers">
                                <h2>
                                    Medidas y beneficios fiscales para las emprendedoras
                                </h2>
                                <h3>
                                    Webinar (30 de abril de 2020)
                                </h3>
                            </div>
                            <div class="s-mdc-card__body">
                                <p>
                                    Arnold Yanes, jefe de asistencia al cumplimiento Nacional del SAR nos platica sobre
                                    las medidas y beneficios fiscales para las emprendedoras.
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
                <section
                    class="s-article__text s-article__text--centered s-article__text-mdc-card s-article__text--hidden"
                    tabindex="1">
                    <div class="mdc-card s-mdc-card__article">
                        <div class="mdc-card__primary-action">
                            <div class="mdc-card__media mdc-card__media--16-9 s-mdc-card__media-content"
                                style="background: url({{ url_for('static', filename='images/assets/placeholders/elearning.jpg') }}); background-size: cover;">
                            </div>
                            <div class="s-mdc-card__headers">
                                <h2>
                                    Inscripción Taller Virtual Ciudad Mujer-INFOP
                                </h2>
                                <h3>
                                    eLearning
                                </h3>
                            </div>
                            <div class="s-mdc-card__body">
                                <p>
                                    Inscríbete en el siguiente enlace:
                                </p>
                                <p>
                                    <a href="http://infopvirtual.com/inscripcion-ciudadmujer/" target="_blank">
                                        http://infopvirtual.com/inscripcion-ciudadmujer/
                                    </a>
                                </p>
                            </div>
                        </div>
                    </div>
                </section>
            </section>
            <section class="s-article__text">
                <p>
                    <i>
                        Ciudad Mujer busca contribuir al mejoramiento de las condiciones de vida de las mujeres en
                        Honduras
                        en las áreas de autonomía económica, atención a la violencia, salud sexual y reproductiva,
                        educación comunitaria,
                        y otras afines, mediante una red de servicios ofrecidos de manera integral por las instituciones
                        públicas competentes.
                    </i>
                </p>
            </section>
        </article>
    </main>
</section>
{% endblock %}