{% extends 'layout_topbar_footer.html' %} {% block page_description %}Ciudad Mujer Honduras, Direcciones{% endblock %} {%
block page_title %}CMH - Direcciones{% endblock %} {% block body %}
<section class="s-maincontainer">
    <main class="s-content">
        <article class="s-article s-article--centered">
            <header>
                <h2>
                    Puedes acercarte a tu Centro Ciudad Mujer más cercano
                </h2>
            </header>
            <section class="s-mdc-card">
                <div class="mdc-card s-mdc-card__unit">
                    <div class="mdc-card__primary-action" tabindex="0">
                        <div class="mdc-card__media mdc-card__media--16-9" style="background-image: url(../static/images/assets/direcciones/cmh_choloma.jpg);">
                        </div>
                        <div class="s-mdc-card__primary">
                            <h2 class="s-mdc-card__title mdc-typography--headline6">Centro Ciudad Mujer Choloma</h2>
                            <h3 class="s-mdc-card__subtitle mdc-typography--subtitle2">Colonia Valle de Sula 3, Sector López
                                Arellano, atrás de la colonia Las Colinas. Choloma, Cortés.</h3>
                        </div>
                    </div>
                </div>
                <div class="mdc-card s-mdc-card__unit">
                    <div class="mdc-card__primary-action" tabindex="0">
                        <div class="mdc-card__media mdc-card__media--16-9" style="background-image: url(../static/images/assets/direcciones/cmh_kennedy.jpg);">
                        </div>
                        <div class="s-mdc-card__primary">
                            <h2 class="s-mdc-card__title mdc-typography--headline6">Centro Ciudad Mujer Kennedy</h2>
                            <h3 class="s-mdc-card__subtitle mdc-typography--subtitle2">Colonia Kennedy, 2da. entrada, 1 cuadra
                                antes del Estadio Emilio Larach, Tegucigalpa.</h3>
                        </div>
                    </div>
                </div>
                <div class="mdc-card s-mdc-card__unit">
                    <div class="mdc-card__primary-action" tabindex="0">
                        <div class="mdc-card__media mdc-card__media--16-9" style="background-image: url(../static/images/assets/direcciones/cmh_movil.jpg);">
                        </div>
                        <div class="s-mdc-card__primary">
                            <h2 class="s-mdc-card__title mdc-typography--headline6">Ciudad Mujer Móvil</h2>
                            <h3 class="s-mdc-card__subtitle mdc-typography--subtitle2">
                                Cofradía, Cortés <br/> Colonia la Pradera, San Pedro Sula <br/> Naco, Cortés
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="mdc-card s-mdc-card__unit">
                    <a class="s-mdc-card__unit-link" href="https://goo.gl/maps/LDXEiGHuic32">
                        <div class="mdc-card__primary-action" tabindex="0">
                            <div class="mdc-card__media">
                                <div class="s-mdc-card__media-icon media-icon__backcolor-map">
                                    <i class="material-icons" aria-hidden="true">map</i>
                                </div>
                            </div>
                            <div class="s-mdc-card__primary">
                                <h2 class="s-mdc-card__title mdc-typography--headline6">Direcciones paso a paso</h2>
                                <h3 class="s-mdc-card__subtitle mdc-typography--subtitle2">Ubicación por medio de Google
                                    Maps
                                </h3>
                            </div>
                        </div>
                    </a>
                </div>
            </section>
            <section class="s-article__text">
                <p>
                    <i>
                        Ciudad Mujer busca contribuir al mejoramiento de las condiciones de vida de las mujeres en Honduras en las áreas de autonomía
                        económica, atención a la violencia, salud sexual y reproductiva, educación comunitaria, y otras afines,
                        mediante una red de servicios ofrecidos de manera integral por las instituciones públicas competentes.
                    </i>
                </p>
            </section>
        </article>
    </main>
</section>
{% endblock %}