{% extends 'layout_topbar_footer.html' %} {% block page_description %}Ciudad Mujer Honduras, Direcciones{% endblock %} {%
block page_title %}CMH - Direcciones{% endblock %} {% block body %}
<section class="s-maincontainer">
    <main class="s-content">
        <article class="s-article s-article--centered">
            <header>
                <h2>
                    Puedes acercarte a tu Centro Ciudad Mujer más cercano
                </h2>
            </header>
            <section class="s-mdc-card">
                <div class="mdc-card s-mdc-card__unit">
                    <div class="mdc-card__primary-action" tabindex="0">
                        <div class="mdc-card__media mdc-card__media--16-9"
                            style="background-image: url(../static/images/assets/ccm/cmh_choloma_02.jpg);">
                        </div>
                        <div class="s-mdc-card__primary">
                            <h2 class="s-mdc-card__title mdc-typography--headline6">CCM Choloma</h2>
                            <h3 class="s-mdc-card__subtitle mdc-typography--subtitle2">Colonia Valle de Sula 3, Sector
                                López
                                Arellano, atrás de la colonia Las Colinas.<br /> Choloma, Cortés.</h3>
                        </div>
                    </div>
                </div>
                <div class="mdc-card s-mdc-card__unit">
                    <div class="mdc-card__primary-action" tabindex="0">
                        <div class="mdc-card__media mdc-card__media--16-9"
                            style="background-image: url(../static/images/assets/ccm/cmh_juticalpa_02.jpg);">
                        </div>
                        <div class="s-mdc-card__primary">
                            <h2 class="s-mdc-card__title mdc-typography--headline6">CCM Juticalpa</h2>
                            <h3 class="s-mdc-card__subtitle mdc-typography--subtitle2">Residencial Villa Santa, A 3
                                Kilómetros del desvío a la aldea de la empalizada, carretera que conecta al Municipio de
                                San Francisco de Becerra.<br /> Olancho.</h3>
                        </div>
                    </div>
                </div>
                <div class="mdc-card s-mdc-card__unit">
                    <div class="mdc-card__primary-action" tabindex="0">
                        <div class="mdc-card__media mdc-card__media--16-9"
                            style="background-image: url(../static/images/assets/ccm/cmh_kennedy_02.jpg);">
                        </div>
                        <div class="s-mdc-card__primary">
                            <h2 class="s-mdc-card__title mdc-typography--headline6">CCM Kennedy</h2>
                            <h3 class="s-mdc-card__subtitle mdc-typography--subtitle2">Colonia Kennedy, 2da. entrada, 1
                                cuadra
                                antes del Estadio Emilio Larach.<br /> Tegucigalpa.</h3>
                        </div>
                    </div>
                </div>
                <div class="mdc-card s-mdc-card__unit">
                    <div class="mdc-card__primary-action" tabindex="0">
                        <div class="mdc-card__media mdc-card__media--16-9"
                            style="background-image: url(../static/images/assets/ccm/cmh_laceiba.jpg);">
                        </div>
                        <div class="s-mdc-card__primary">
                            <h2 class="s-mdc-card__title mdc-typography--headline6">CCM La Ceiba</h2>
                            <h3 class="s-mdc-card__subtitle mdc-typography--subtitle2">Entrada a Colonia La Florida,
                                calle de la
                                Escuela Bilingue Brassavola a un costado de: Cámara de Comercio e Industrias de
                                Atlántida.<br /> La Ceiba, Atlántida.</h3>
                        </div>
                    </div>
                </div>
                <div class="mdc-card s-mdc-card__unit">
                    <div class="mdc-card__primary-action" tabindex="0">
                        <div class="mdc-card__media mdc-card__media--16-9"
                            style="background-image: url(../static/images/assets/ccm/cmh_sanpedrosula.jpg);">
                        </div>
                        <div class="s-mdc-card__primary">
                            <h2 class="s-mdc-card__title mdc-typography--headline6">CCM San Pedro Sula</h2>
                            <h3 class="s-mdc-card__subtitle mdc-typography--subtitle2">Col. Municipal, sector Calpules,
                                al este de la
                                Ciudad de San Pedro Sula, contiguo a la Escuela Froylan Turcios.<br /> San Pedro Sula,
                                Cortés.</h3>
                        </div>
                    </div>
                </div>
                <div class="mdc-card s-mdc-card__unit">
                    <div class="mdc-card__primary-action" tabindex="0">
                        <div class="mdc-card__media mdc-card__media--16-9"
                            style="background-image: url(../static/images/assets/ccm/cmh_movil_02.jpg);">
                        </div>
                        <div class="s-mdc-card__primary">
                            <h2 class="s-mdc-card__title mdc-typography--headline6">Ciudad Mujer Móvil</h2>
                            <h3 class="s-mdc-card__subtitle mdc-typography--subtitle2">
                                Cofradía, Cortés <br /> Colonia la Pradera, San Pedro Sula <br /> Naco, Cortés
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="mdc-card s-mdc-card__unit">
                    <a class="s-mdc-card__unit-link" href="/direcciones/googlemaps/">
                        <div class="mdc-card__primary-action" tabindex="0">
                            <div class="mdc-card__media">
                                <div class="s-mdc-card__media-icon media-icon__backcolor-map">
                                    <i class="material-icons" aria-hidden="true">map</i>
                                </div>
                            </div>
                            <div class="s-mdc-card__primary">
                                <h2 class="s-mdc-card__title mdc-typography--headline6">Direcciones paso a paso</h2>
                                <h3 class="s-mdc-card__subtitle mdc-typography--subtitle2">Ubicación por medio de Google
                                    Maps
                                </h3>
                            </div>
                        </div>
                    </a>
                </div>
            </section>
            <section class="s-article__text s-article__text--centered s-article__text-mdc-card">
                <div class="mdc-card s-mdc-card__article">
                    <div class="mdc-card__primary-action">
                        <div class="mdc-card__media">
                            <div class="s-mdc-card__media-icon media-icon__backcolor-faq">
                                <i class="material-icons" aria-hidden="true">phone</i>
                            </div>
                        </div>
                        <div class="s-mdc-card__primary">
                            <h2 class="s-mdc-card__title mdc-typography--headline6">Números de contacto:</h2>
                        </div>
                        <div class="s-mdc-card__phones-list">
                            <ul class="mdc-list mdc-menu__items" role="menu" aria-hidden="true"
                                aria-orientation="vertical">
                                <li class="mdc-list-item" role="menuitem" tabindex="0">
                                    <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-faq"
                                        aria-hidden="true">short_text</i>
                                    <a href="tel:+50422283624" rel="external">
                                        <span class="mdc-list-item__text">
                                            <span class="mdc-list-item__primary-text">Gerencia: +504 2228 3624</span>
                                        </span>
                                    </a>
                                </li>
                                <li role="separator" class="mdc-list-divider"></li>
                                <li class="mdc-list-item" role="menuitem" tabindex="0">
                                    <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-faq"
                                        aria-hidden="true">short_text</i>
                                    <a href="tel:+50422282382" rel="external">
                                        <span class="mdc-list-item__text">
                                            <span class="mdc-list-item__primary-text">Módulo de Atención Infantil: +504
                                                2228 2382</span>
                                        </span>
                                    </a>
                                </li>
                                <li role="separator" class="mdc-list-divider"></li>
                                <li class="mdc-list-item" role="menuitem" tabindex="0">
                                    <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-faq"
                                        aria-hidden="true">short_text</i>
                                    <a href="tel:+50422283384" rel="external">
                                        <span class="mdc-list-item__text">
                                            <span class="mdc-list-item__primary-text">Módulo de Atención a las
                                                Adolescentes: +504 2228 3384</span>
                                        </span>
                                    </a>
                                </li>
                                <li role="separator" class="mdc-list-divider"></li>
                                <li class="mdc-list-item" role="menuitem" tabindex="0">
                                    <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-faq"
                                        aria-hidden="true">short_text</i>
                                    <a href="tel:+50422300812" rel="external">
                                        <span class="mdc-list-item__text">
                                            <span class="mdc-list-item__primary-text">Módulo de Educación Comunitaria:
                                                +504 2230 0812</span>
                                        </span>
                                    </a>
                                </li>
                                <li role="separator" class="mdc-list-divider"></li>
                                <li class="mdc-list-item" role="menuitem" tabindex="0">
                                    <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-faq"
                                        aria-hidden="true">short_text</i>
                                    <a href="tel:+50422282079" rel="external">
                                        <span class="mdc-list-item__text">
                                            <span class="mdc-list-item__primary-text">Módulo de Autonomía Económica:
                                                +504 2228 2079</span>
                                        </span>
                                    </a>
                                </li>
                                <li role="separator" class="mdc-list-divider"></li>
                                <li class="mdc-list-item" role="menuitem" tabindex="0">
                                    <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-faq"
                                        aria-hidden="true">short_text</i>
                                    <a href="tel:+50422283309" rel="external">
                                        <span class="mdc-list-item__text">
                                            <span class="mdc-list-item__primary-text">Módulo de Salud: +504 2228
                                                3309</span>
                                        </span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
            <section class="s-article__text">
                <p>
                    <i>
                        Ciudad Mujer busca contribuir al mejoramiento de las condiciones de vida de las mujeres en
                        Honduras en las áreas de autonomía
                        económica, atención a la violencia, salud sexual y reproductiva, educación comunitaria, y otras
                        afines,
                        mediante una red de servicios ofrecidos de manera integral por las instituciones públicas
                        competentes.
                    </i>
                </p>
            </section>
        </article>
    </main>
</section>
{% endblock %}