{% extends 'layout_topbar_footer.html' %} {% block page_description %}Ciudad Mujer Honduras, ¡Un lugar de oportunidades para ti!{%
endblock %} {% block page_title %}Ciudad Mujer Honduras{% endblock %} {% block body %}
<section class="s-maincontainer s-maincontainer__landing">
    <main class="s-content">
        <section id="landing-img-carousel" class="parallax parallax--medium img-transition-fadein" 
                 style="background-image: url(../static/images/assets/ciudadmujer/cmh_02_bg.jpg);">
            <div class="parallax-caption">
                <img id="logo-landing-page__top" src="../static/images/manifest/logocmh_con_texto.svg" alt="Logo Ciudad Mujer Honduras">
                <span id="logo-landing-page__top-text" class="parallax-caption--dark">
                    ¡Un lugar de oportunidades para ti!
                </span>
                <button id="playAudioButton" class="material-icons mdc-icon-toggle mdc-fab fab__playbutton"
                    aria-label="Play Ciudad Mujer Honduras Jingle" tabindex="0"
                    data-toggle-on='{"label": "Pause Ciudad Mujer Honduras Jingle", "content": "music_off"}'
                    data-toggle-off='{"label": "Play Ciudad Mujer Honduras Jingle", "content": "music_note"}'>
                    music_note
                </button>
            </div>
        </section>
        <section class="parallax-div parallax-div--light">
            <h2>
                ¿Que necesitas?
            </h2>
        </section>
        <section class="s-mdc-card">
            <div class="mdc-card s-mdc-card__unit">
                <a class="s-mdc-card__unit-link" href="/servicios">
                    <div class="mdc-card__primary-action" tabindex="0">
                        <div class="mdc-card__media">
                            <div class="s-mdc-card__media-icon media-icon__backcolor-list">
                                <i class="material-icons" aria-hidden="true">view_list</i>
                            </div>
                        </div>
                        <div class="s-mdc-card__primary">
                            <h2 class="s-mdc-card__title mdc-typography--headline6">Servicios</h2>
                            <h3 class="s-mdc-card__subtitle mdc-typography--subtitle2">Información de los servicios Ciudad Mujer</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="mdc-card s-mdc-card__unit">
                <a class="s-mdc-card__unit-link" href="/direcciones">
                    <div class="mdc-card__primary-action" tabindex="0">
                        <div class="mdc-card__media">
                            <div class="s-mdc-card__media-icon media-icon__backcolor-map">
                                <i class="material-icons" aria-hidden="true">directions_bus</i>
                            </div>
                        </div>
                        <div class="s-mdc-card__primary">
                            <h2 class="s-mdc-card__title mdc-typography--headline6">Cómo llegar</h2>
                            <h3 class="s-mdc-card__subtitle mdc-typography--subtitle2">Mi centro de Ciudad Mujer más cercano</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="mdc-card s-mdc-card__unit">
                <a class="s-mdc-card__unit-link" href="/">
                    <div class="mdc-card__primary-action" tabindex="0">
                        <div class="mdc-card__media">
                            <div class="s-mdc-card__media-icon media-icon__backcolor-pages">
                                <i class="material-icons" aria-hidden="true">pages</i>
                            </div>
                        </div>
                        <div class="s-mdc-card__primary">
                            <h2 class="s-mdc-card__title mdc-typography--headline6">Conoce lo último</h2>
                            <h3 class="s-mdc-card__subtitle mdc-typography--subtitle2">Noticias, anuncios y redes sociales</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="mdc-card s-mdc-card__unit">
                <a class="s-mdc-card__unit-link" href="/preguntasfrecuentes">
                    <div class="mdc-card__primary-action" tabindex="0">
                        <div class="mdc-card__media">
                            <div class="s-mdc-card__media-icon media-icon__backcolor-faq">
                                <i class="material-icons" aria-hidden="true">contact_support</i>
                            </div>
                        </div>
                        <div class="s-mdc-card__primary">
                            <h2 class="s-mdc-card__title mdc-typography--headline6">Salir de dudas</h2>
                            <h3 class="s-mdc-card__subtitle mdc-typography--subtitle2">Preguntas frecuentes</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="mdc-card s-mdc-card__unit">
                <a class="s-mdc-card__unit-link" href="/">
                    <div class="mdc-card__primary-action" tabindex="0">
                        <div class="mdc-card__media">
                            <div class="s-mdc-card__media-icon media-icon__backcolor-face">
                                <i class="material-icons" aria-hidden="true">face</i>
                            </div>
                        </div>
                        <div class="s-mdc-card__primary">
                            <h2 class="s-mdc-card__title mdc-typography--headline6">Mi Ciudad Mujer</h2>
                            <h3 class="s-mdc-card__subtitle mdc-typography--subtitle2">Perfil de usuario y notificaciones</h3>
                        </div>
                    </div>
                </a>
            </div>
            <div class="mdc-card s-mdc-card__unit">
                <a class="s-mdc-card__unit-link" href="https://wa.me/50497396698">
                    <div class="mdc-card__primary-action" tabindex="0">
                        <div class="mdc-card__media">
                            <div class="s-mdc-card__media-icon media-icon__backcolor-whatsapp">
                                <i class="fa fa-whatsapp" aria-hidden="true"></i>
                            </div>
                        </div>
                        <div class="s-mdc-card__primary">
                            <h2 class="s-mdc-card__title mdc-typography--headline6">Asistencia personalizada</h2>
                            <h3 class="s-mdc-card__subtitle mdc-typography--subtitle2">Centro de Atención WhatsApp</h3>
                        </div>
                    </div>
                </a>
            </div>
        </section>
        <section class="parallax-div parallax-div--dark">
            <h1>
                Historias de éxito en Ciudad Mujer
            </h1>
            <h2>
                Mujeres atendidas al día de hoy
            </h2>
            <div class="parallax-content-row">
                <div>
                    <span>Entrega de créditos productivos</span>
                    <h1>102</h1>
                </div>
                <div>
                    <span>Servicios de protección contra la violencia</span>
                    <h1>9,721</h1>
                </div>
                <div>
                    <span>Servicios de salud entregados</span>
                    <h1>140,337</h1>
                </div>
                <div>
                    <span>Mujeres capacitadas</span>
                    <h1>3,240</h1>
                </div>
            </div>
        </section>
        <audio id="cmh-jingle" preload="metadata">
            <source src="../static/media/audio/cmh_jingle.mp3" type="audio/mpeg">
            Tu navegador no soporta este elemento.
        </audio>
    </main>
</section>
{% endblock %}