{% extends 'layout_topbar_footer.html' %}
{% block page_description %}Ciudad Mujer Honduras, Noticias, Lo ultimo{% endblock %}
{% block page_title %}CMH - Noticias{% endblock %}
{% block body %}
<section class="s-maincontainer">
    <main class="s-content">
        <article class="s-article s-article--centered">
            <header>
                <h2>
                    Conoce lo último sobre Ciudad Mujer
                </h2>
            </header>
            <section class="mdc-tab-bar" id="mdc-tab-bar__id-noticias" role="tablist">
                <div class="mdc-tab-scroller">
                    <div class="mdc-tab-scroller__scroll-area">
                        <div class="mdc-tab-scroller__scroll-content">
                            <button class="mdc-tab mdc-tab--active" role="tab" aria-selected="true" tabindex="0">
                                <span class="mdc-tab__content">
                                    <i class="mdc-tab__icon fa fa-facebook" aria-hidden="true"></i>
                                    <span class="mdc-tab__text-label">Facebook</span>
                                </span>
                                <span class="mdc-tab-indicator mdc-tab-indicator--active">
                                    <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                </span>
                                <span class="mdc-tab__ripple"></span>
                            </button>
                            <button class="mdc-tab" role="tab" tabindex="1">
                                <span class="mdc-tab__content">
                                    <i class="mdc-tab__icon fa fa-twitter" aria-hidden="true"></i>
                                    <span class="mdc-tab__text-label">Twitter</span>
                                </span>
                                <span class="mdc-tab-indicator">
                                    <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                </span>
                                <span class="mdc-tab__ripple"></span>
                            </button>
                            <button class="mdc-tab" role="tab" tabindex="2">
                                <span class="mdc-tab__content">
                                    <i class="mdc-tab__icon fa fa-linkedin" aria-hidden="true"></i>
                                    <span class="mdc-tab__text-label">LinkedIn</span>
                                </span>
                                <span class="mdc-tab-indicator">
                                    <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                </span>
                                <span class="mdc-tab__ripple"></span>
                            </button>
                            <button class="mdc-tab" role="tab" tabindex="3">
                                <span class="mdc-tab__content">
                                    <span class="mdc-tab__icon material-icons" aria-hidden="true">new_releases</span>
                                    <span class="mdc-tab__text-label">Noticias</span>
                                </span>
                                <span class="mdc-tab-indicator">
                                    <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                                </span>
                                <span class="mdc-tab__ripple"></span>
                            </button>
                        </div>
                    </div>
                </div>
            </section>
            <section id="mdc-tab-bar__id-noticias-content">
                <section class="s-article__text s-article__text--centered s-article__text--show" tabindex="0">
                    <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fciudadmujerhn&tabs=timeline%2C%20events&width=340&height=500&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId"
                        width="340" height="500" style="border:none;overflow:hidden" scrolling="no" frameborder="0"
                        allowTransparency="true" allow="encrypted-media"></iframe>
                </section>
                <section class="s-article__text s-article__text--centered s-article__text--hidden" tabindex="1">
                    <a class="twitter-timeline" data-width="340" data-height="500" href="https://twitter.com/ciudadmujerhn?ref_src=twsrc%5Etfw">Tweets
                        por ciudadmujerhn</a>
                    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
                </section>
                <section class="s-article__text s-article__text--centered s-article__text--hidden" tabindex="2">
                    <script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
                    <!-- <script type="IN/CompanyProfile" data-id="33278832" data-format="inline" data-related="false"></script> -->
                    <script type="IN/JYMBII" data-format="inline" data-width="600"></script>
                </section>
                <section class="s-article__text s-article__text--centered s-article__text--hidden" tabindex="3">
                    <p>
                        <i class="material-icons s-article__graphic-comingsoon" aria-hidden="true">notification_important</i>
                    </p>
                    <p class="s-article__text-comingsoon-header">
                        Próximamente
                    </p>
                    <p>
                        En esta sección encontrarás todas aquellas noticias, anuncios y notificaciones sobre Ciudad
                        Mujer
                        enviadas directamente a tí por medio de nuestra app. ¡Espérala muy pronto!
                    </p>
                </section>
            </section>
        </article>
    </main>
</section>
{% endblock %}