{% extends 'layout_topbar_footer.html' %}
{% block page_description %}Ciudad Mujer Honduras, Noticias, Lo ultimo{% endblock %}
{% block page_title %}CMH - Noticias{% endblock %}
{% block body %}
<section class="s-maincontainer">
    <main class="s-content">
        <article class="s-article s-article--centered">
            <header>
                <h2>
                    Conoce lo último en noticias, anuncios y redes sociales
                </h2>
            </header>
            
        </article>
    </main>
</section>
{% endblock %}