{% extends 'layout_topbar_footer.html' %} {% block page_description %}Ciudad Mujer Honduras, Preguntas frecuentes{% endblock
%} {% block page_title %}CMH - FAQ{% endblock %} {% block body %}
<section class="s-maincontainer">
    <main class="s-content">
        <article class="s-article s-article--centered">
            <header>
                <h2>
                    ¡Encuentra la respuesta a tu pregunta!
                </h2>
            </header>
            <section class="s-article__text s-article__text--centered">
                <p>
                    <i class="material-icons s-article__graphic-faq" aria-hidden="true">contact_support</i>
                </p>
                <p>
                    <i>
                        Preguntas generales
                    </i>
                </p>
            </section>
            <section class="s-article__text">
                <div class="s-article__list">
                    <ul class="mdc-list mdc-menu__items" role="menu" aria-hidden="true" aria-orientation="vertical">
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Tienen algún costo o precio estos servicios?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">No. Todos los
                                    servicios de Ciudad Mujer son completamente <b>GRATUITOS.</b></span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-gen mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Cual es su horario de atención?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">Lunes a Viernes
                                    de 7:00am a 4:00pm.<br/>NOTA: El Módulo de Salud Sexual y Reproductiva atiende de Lunes
                                    a Viernes de 8:00am a 3:00pm.</span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-gen mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                    </ul>
                </div>
            </section>
            <section id="cmh-faq-maa" class="s-article__text s-article__text--centered s-article__text-faq">
                <p>
                    <i class="material-icons s-article__graphic-maa" aria-hidden="true">alternate_email</i>
                </p>
                <p>
                    <i>
                        Preguntas sobre el Módulo de Atención a Adolescentes (MAA)
                    </i>
                </p>
            </section>
            <section class="s-article__text">
                <div class="s-article__list">
                    <ul class="mdc-list mdc-menu__items" role="menu" aria-hidden="true" aria-orientation="vertical">
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Que tipo de adolescentes pueden acercase?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">¡Todas! Mientras
                                    tengas entre 12 y 18 años de edad te esperamos por acá.</span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-maa mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Puedo ir si soy madre adolescente o si me encuentro
                                    embarazada?
                                </span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">Por supuesto.</span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-maa mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Me pueden ayudar para continuar estudiando?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">En Ciudad Mujer
                                    te brindaremos los recursos necesarios para ayudarte a continuar tus estudios.</span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-maa mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Que son los talleres de habilidades para la vida?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">Son capacitaciones
                                    cortas, que te brindarán herramientas prácticas para ayudarte a tu superación personal.</span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-maa mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                    </ul>
                </div>
            </section>
            <section id="cmh-faq-mae" class="s-article__text s-article__text--centered s-article__text-faq">
                <p>
                    <i class="material-icons s-article__graphic-mae" aria-hidden="true">assessment</i>
                </p>
                <p>
                    <i>
                        Preguntas sobre el Módulo de Autonomía Económica (MAE)
                    </i>
                </p>
            </section>
            <section class="s-article__text">
                <div class="s-article__list">
                    <ul class="mdc-list mdc-menu__items" role="menu" aria-hidden="true" aria-orientation="vertical">
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Tienen algún costo o precio estos cursos?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">No. Son completamente
                                    <b>GRATUITOS.</b></span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-mae mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Cuales son los requisitos para un curso INFOP?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">1) Ser mayor de
                                    15 años.<br/>2) Haber completado primaria.<br/>3) Registrarse con nosotras.</span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-mae mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Cuales son los los tiempos de duración de los
                                    cursos y sus horarios?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">- Hay cursos de:
                                    1 semana, 2 semanas o 1 mes.<br/>- De 8:00am a 11:00am o de 1:00pm a 4:00pm.</span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-mae mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿En que consiste la orientación laboral?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">En ayudarles a
                                    descubrir y desarrollar sus competencias profesionales para mejorar su impacto en el
                                    mercado laboral.</span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-mae mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Cuales son los beneficios de la formalización
                                    de una empresa?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">- Facilita el
                                    acceso a créditos.<br/>- Amplia las operaciones comerciales.<br/>- Permite el acceso
                                    a un RTN.</span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-mae mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Cuales son los requisitos para un préstamo solidario?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">1) Copia de la
                                    Tarjeta de Identidad.<br/>2) RTN para 2o y 3er ciclo.<br/>3) Copia de un recibo público.<br/>4)
                                    Plan de negocios y elaboración de un croquis.</span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-mae mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                    </ul>
                </div>
            </section>
            <section id="cmh-faq-mai" class="s-article__text s-article__text--centered s-article__text-faq">
                <p>
                    <i class="material-icons s-article__graphic-mai" aria-hidden="true">child_friendly</i>
                </p>
                <p>
                    <i>
                        Preguntas sobre el Módulo de Atención Infantil (MAI)
                    </i>
                </p>
            </section>
            <section class="s-article__text">
                <div class="s-article__list">
                    <ul class="mdc-list mdc-menu__items" role="menu" aria-hidden="true" aria-orientation="vertical">
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Que requisitos se deben cumplir para ingresar
                                    niños y niñas?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">1) Que la persona
                                    que los ingresa, se encuentre recibiendo uno o más servicios.<br/>2) Que los registren
                                    en recepción y les coloquen un brazalete a todos.<br/>3) La partida de nacimiento de
                                    la niña o el niño.<br/>4) Que la niña o el niño no se encuentre enferma.</span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-mai mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Los niños enfermos son atendidos en pediatría?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">No. Por ser niños,
                                    requieren de atención mucho más especializada que la que se ofrece en Ciudad Mujer. Solamente
                                    se atenderán como caso extraordinario, aquellos que sufran una emergencia durante su
                                    estadía en el Centro y que no ingresaron en mal estado de salud.</span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-mai mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Puedo dejar a mis niños y salir del Centro de
                                    Ciudad Mujer?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">No.</span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-mai mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Funcionan como guardería?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">No. El Módulo
                                    de Atención Infantil es un beneficio que se le da a la usuaria de Ciudad Mujer mientras
                                    se encuentra realizando su visita al servicio correspondiente.</span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-mai mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Pueden ayudarme a aplicarle vacunas a mi niña/niño?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">Si.</span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-mai mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                    </ul>
                </div>
            </section>
            <section id="cmh-faq-mec" class="s-article__text s-article__text--centered s-article__text-faq">
                <p>
                    <i class="material-icons s-article__graphic-mec" aria-hidden="true">school</i>
                </p>
                <p>
                    <i>
                        Preguntas sobre el Módulo de Educación Comunitaria (MEC)
                    </i>
                </p>
            </section>
            <section class="s-article__text">
                <div class="s-article__list">
                    <ul class="mdc-list mdc-menu__items" role="menu" aria-hidden="true" aria-orientation="vertical">
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Tienen algún costo o precio estos servicios?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">TODOS los servicios
                                    de Ciudad Mujer son completamente <b>GRATUITOS.</b></span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-mec mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Cual es su horario de atención?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">Lunes a Viernes
                                    de 7:00am a 4:00pm.</span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-mec mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                    </ul>
                </div>
            </section>
            <section id="cmh-faq-mssr" class="s-article__text s-article__text--centered s-article__text-faq">
                <p>
                    <i class="fa fa-heartbeat s-article__graphic-mssr" aria-hidden="true"></i>
                </p>
                <p>
                    <i>
                        Preguntas sobre el Módulo de Salud Sexual y Reproductiva (MSSR)
                    </i>
                </p>
            </section>
            <section class="s-article__text">
                <div class="s-article__list">
                    <ul class="mdc-list mdc-menu__items" role="menu" aria-hidden="true" aria-orientation="vertical">
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Puedo llevar mi control de Embarazo en Ciudad
                                    Mujer?
                                </span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">Si, en coordinación
                                    con múltiple con el Hospital mientras se cumplan lo siguiente:<br/>- Exista riesgo reproductivo
                                    en el embarazo.<br/>- Sea una mujer embarazada primigesta menor de 19 años o mayor de
                                    35 años de edad.<br/>- Sea una mujer embarazada con sobrepeso, con bajo peso o sospecha
                                    de diabetes.<br/>- Un embarazo no deseado o víctima de un acto violento.</span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-mssr mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Brindan atención para niñas y niñas en pediatría?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">No. Solamente
                                    a los recién nacidos como parte del control post natal.</span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-mssr mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Tienen medicamentos?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">Si. Manejamos
                                    el paquete básico como un policlínico y es completamente <b>GRATUITO.</b></span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-mssr mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Cuantos servicios puedo recibir un un solo día?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">Un máximo de 2
                                    servicios por día.</span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-mssr mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Realizan electrocardiogramas?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">Si, mientras se
                                    cuente con una previa evaluación y referencia médica.</span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-mssr mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Que servicios NO poseen?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">1) Colonoscopía.<br/>2)
                                    Dermatología.<br/>3) Oftalmología.
                                    <br/>4) Ortopedia.<br/> 5) Ultrasonido abdominal.</span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-mssr mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Aplican vacunas?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">Si.</span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-mssr mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                    </ul>
                </div>
            </section>
            <section id="cmh-faq-mvcm" class="s-article__text s-article__text--centered s-article__text-faq">
                <p>
                    <i class="material-icons s-article__graphic-mvcm" aria-hidden="true">warning</i>
                </p>
                <p>
                    <i>
                        Preguntas sobre el Módulo de Atención a la Violencia Contra las Mujeres (MVCM)
                    </i>
                </p>
            </section>
            <section class="s-article__text">
                <div class="s-article__list">
                    <ul class="mdc-list mdc-menu__items" role="menu" aria-hidden="true" aria-orientation="vertical">
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Quiero denunciar pero... tengo miedo...</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">Acérquense a su
                                    Centro de Ciudad Mujer más cercano para explicarles el proceso completo y en caso sea
                                    necesario se puede gestionar refugio.</span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-mvcm mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Cuanto tiempo dura el proceso por violencia doméstica?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">Alrededor de 6
                                    meses.
                                </span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-mvcm mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿En que le afectará al agresor la denuncia?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">Se le generarán
                                    antecedentes penales con un periodo de 5 años de duración.</span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-mvcm mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Me puede acompañar mi mamá o mi amiga?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">Si. Dependerá
                                    del estado emocional en el que se encuentre.</span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-mvcm mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Este proceso es confidencial?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">Si. Completamente.</span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-mvcm mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Ayudan económicamente o con vivienda?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">No.</span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-mvcm mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Se pueden retirar las denuncias?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">No, pero se puede
                                    detener el proceso y se toma la declaración de la ofendida manifestando el deseo de retirar
                                    la denuncia, dejando respaldo por posibles reincidencias posteriores.</span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-mvcm mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Que puedo hacer si me agreden nuevamente?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">Llamar al 911.</span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-mvcm mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Podrá visitar a mis hijas/hijos después de la
                                    denuncia?
                                </span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">Dependerá del
                                    caso.
                                </span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-mvcm mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Cuantas veces puedo recibir sus servicios?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">Las veces que
                                    desee.
                                </span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-mvcm mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Que puedo hacer si se han llevado a mis hijos?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">Acérquese a su
                                    Centro de Ciudad Mujer más cercano para recibir asesoría legal.
                                </span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-mvcm mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                    </ul>
                </div>
            </section>
        </article>
    </main>
</section>
{% endblock %}