{% extends 'layout_topbar_footer.html' %} {% block page_description %}Ciudad Mujer Honduras, Preguntas frecuentes{% endblock
%} {% block page_title %}CMH - FAQ{% endblock %} {% block body %}
<section class="s-maincontainer">
    <main class="s-content">
        <article class="s-article s-article--centered">
            <header>
                <h2>
                    ¡Encuentra la respuesta a tu pregunta!
                </h2>
            </header>
            <section class="s-article__text s-article__text--centered">
                <p>
                    <i class="material-icons s-article__graphic-faq" aria-hidden="true">contact_support</i>
                </p>
                <p>
                    <i>
                        Preguntas generales
                    </i>
                </p>
            </section>
            <section class="s-article__text">
                <div class="s-article__list">
                    <ul class="mdc-list mdc-menu__items" role="menu" aria-hidden="true" aria-orientation="vertical">
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Tienen algún costo o precio estos servicios?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">TODOS los servicios
                                    de Ciudad Mujer son completamente <b>GRATUITOS.</b></span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-gen mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Cual es su horario de atención?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">Lunes a Viernes
                                    de 8:00am a 5:30pm<br/>Sábados de 8:00am a 12:30pm<br/>Domingo no hay atención.</span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-gen mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                    </ul>
                </div>
            </section>
            <section class="s-article__text s-article__text--centered">
                <p>
                    <i class="material-icons s-article__graphic-maa" aria-hidden="true">alternate_email</i>
                </p>
                <p>
                    <i>
                        Preguntas sobre el Módulo de Atención a Adolescentes (MAA)
                    </i>
                </p>
            </section>
            <section class="s-article__text">
                <div class="s-article__list">
                    <ul class="mdc-list mdc-menu__items" role="menu" aria-hidden="true" aria-orientation="vertical">
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Tienen algún costo o precio estos servicios?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">TODOS los servicios
                                    de Ciudad Mujer son completamente <b>GRATUITOS.</b></span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-maa mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Cual es su horario de atención?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">Lunes a Viernes
                                    de 8:00am a 5:30pm<br/>Sábados de 8:00am a 12:30pm<br/>Domingo no hay atención.</span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-maa mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                    </ul>
                </div>
            </section>
            <section class="s-article__text s-article__text--centered">
                <p>
                    <i class="material-icons s-article__graphic-mae" aria-hidden="true">assessment</i>
                </p>
                <p>
                    <i>
                        Preguntas sobre el Módulo de Autonomía Económica (MAE)
                    </i>
                </p>
            </section>
            <section class="s-article__text">
                <div class="s-article__list">
                    <ul class="mdc-list mdc-menu__items" role="menu" aria-hidden="true" aria-orientation="vertical">
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Tienen algún costo o precio estos servicios?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">TODOS los servicios
                                    de Ciudad Mujer son completamente <b>GRATUITOS.</b></span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-mae mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Cual es su horario de atención?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">Lunes a Viernes
                                    de 8:00am a 5:30pm<br/>Sábados de 8:00am a 12:30pm<br/>Domingo no hay atención.</span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-mae mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                    </ul>
                </div>
            </section>
            <section class="s-article__text s-article__text--centered">
                <p>
                    <i class="material-icons s-article__graphic-mai" aria-hidden="true">child_friendly</i>
                </p>
                <p>
                    <i>
                        Preguntas sobre el Módulo de Atención Infantil (MAI)
                    </i>
                </p>
            </section>
            <section class="s-article__text">
                <div class="s-article__list">
                    <ul class="mdc-list mdc-menu__items" role="menu" aria-hidden="true" aria-orientation="vertical">
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Tienen algún costo o precio estos servicios?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">TODOS los servicios
                                    de Ciudad Mujer son completamente <b>GRATUITOS.</b></span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-mai mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Cual es su horario de atención?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">Lunes a Viernes
                                    de 8:00am a 5:30pm<br/>Sábados de 8:00am a 12:30pm<br/>Domingo no hay atención.</span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-mai mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                    </ul>
                </div>
            </section>
            <section class="s-article__text s-article__text--centered">
                <p>
                    <i class="material-icons s-article__graphic-mec" aria-hidden="true">school</i>
                </p>
                <p>
                    <i>
                        Preguntas sobre el Módulo de Educación Comunitaria (MEC)
                    </i>
                </p>
            </section>
            <section class="s-article__text">
                <div class="s-article__list">
                    <ul class="mdc-list mdc-menu__items" role="menu" aria-hidden="true" aria-orientation="vertical">
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Tienen algún costo o precio estos servicios?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">TODOS los servicios
                                    de Ciudad Mujer son completamente <b>GRATUITOS.</b></span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-mec mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Cual es su horario de atención?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">Lunes a Viernes
                                    de 8:00am a 5:30pm<br/>Sábados de 8:00am a 12:30pm<br/>Domingo no hay atención.</span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-mec mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                    </ul>
                </div>
            </section>
            <section class="s-article__text s-article__text--centered">
                <p>
                    <i class="fa fa-heartbeat s-article__graphic-mssr" aria-hidden="true"></i>
                </p>
                <p>
                    <i>
                        Preguntas sobre el Módulo de Salud Sexual y Reproductiva (MSSR)
                    </i>
                </p>
            </section>
            <section class="s-article__text">
                <div class="s-article__list">
                    <ul class="mdc-list mdc-menu__items" role="menu" aria-hidden="true" aria-orientation="vertical">
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Tienen algún costo o precio estos servicios?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">TODOS los servicios
                                    de Ciudad Mujer son completamente <b>GRATUITOS.</b></span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-mssr mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Cual es su horario de atención?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">Lunes a Viernes
                                    de 8:00am a 5:30pm<br/>Sábados de 8:00am a 12:30pm<br/>Domingo no hay atención.</span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-mssr mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                    </ul>
                </div>
            </section>
            <section class="s-article__text s-article__text--centered">
                <p>
                    <i class="material-icons s-article__graphic-mvcm" aria-hidden="true">warning</i>
                </p>
                <p>
                    <i>
                        Preguntas sobre el Módulo de Atención a la Violencia Contra las Mujeres (MVCM)
                    </i>
                </p>
            </section>
            <section class="s-article__text">
                <div class="s-article__list">
                    <ul class="mdc-list mdc-menu__items" role="menu" aria-hidden="true" aria-orientation="vertical">
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Tienen algún costo o precio estos servicios?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">TODOS los servicios
                                    de Ciudad Mujer son completamente <b>GRATUITOS.</b></span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-mvcm mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item mdc-list-item__collapse" role="menuitem" tabindex="0">
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">¿Cual es su horario de atención?</span>
                                <span class="mdc-list-item__secondary-text mdc-list-item__faq-answer-hide">Lunes a Viernes
                                    de 8:00am a 5:30pm<br/>Sábados de 8:00am a 12:30pm<br/>Domingo no hay atención.</span>
                            </span>
                            <i class="material-icons mdc-list-item__meta mdc-list-item__graphic-mvcm mdc-icon-toggle" aria-hidden="true" aria-label="Click para ver o esconder la respuesta a la pregunta"
                                tabindex="0" data-toggle-on='{"label": "Colapsar", "content": "expand_less"}' data-toggle-off='{"label": "Expandir", "content": "expand_more"}'>
                                expand_more
                            </i>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                    </ul>
                </div>
            </section>
        </article>
    </main>
</section>
{% endblock %}