{% extends 'layout_topbar_footer.html' %} {% block page_description %}Ciudad Mujer Honduras, Módulo de Atención Infantil
(MAI){% endblock %} {% block page_title %}CMH - Servicios MAI{% endblock %} {% block body %}
<section class="s-maincontainer">
    <main class="s-content">
        <article class="s-article s-article--centered">
            <header>
                <h2>
                    Módulo de Atención Infantil
                </h2>
            </header>
            <section class="s-article__text s-article__text--centered">
                <p>
                    <i class="material-icons s-article__graphic-mai" aria-hidden="true">child_friendly</i>
                </p>
                <p>
                    <i>
                        Estos son los servicios que te ofrecemos:
                    </i>
                </p>
            </section>
            <section class="s-article__text">
                <div class="s-article__list">
                    <ul class="mdc-list mdc-menu__items" role="menu" aria-hidden="true" aria-orientation="vertical">
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-mai"
                                aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Atención Integral a niñas y niños de 3 meses a
                                    12 años de edad, por grupos etarios, a través de ambientes favorables y seguros
                                    en:</span>
                            </span>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-mai"
                                aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Estimulación temprana.</span>
                            </span>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-mai"
                                aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Educación preescolar.</span>
                            </span>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-mai"
                                aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Apoyo y refuerzo escolar.</span>
                            </span>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-mai"
                                aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Detección de vulneración de derechos contra
                                    niños y niñas (atención psicológica).
                                </span>
                            </span>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-mai"
                                aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Sistema de referencia y contra referencia
                                    externa.</span>
                            </span>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-mai"
                                aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Educación a las madres usuarias sobre temas de
                                    cuidado y atención a la niñez.
                                </span>
                            </span>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="s-article__text">
                <p>
                    <i>
                        Los niños y las niñas recibirán una atención integral en distintos aspectos que potencian su
                        desarrollo. Independientemente
                        del tiempo que permanezcan en el mismo, no estarán siendo “custodiados” o “guardados” sino
                        atendidos
                        y recibiendo algún tiempo de servicio para su beneficio, estimulación y desarrollo.
                    </i>
                </p>
            </section>
            <section class="s-mdc-card">
                <div class="mdc-card s-mdc-card__unit">
                    <a class="s-mdc-card__unit-link" href="/preguntasfrecuentes/#cmh-faq-mai">
                        <div class="mdc-card__primary-action" tabindex="0">
                            <div class="mdc-card__media">
                                <div class="s-mdc-card__media-icon media-icon__backcolor-faq">
                                    <i class="material-icons" aria-hidden="true">contact_support</i>
                                </div>
                            </div>
                            <div class="s-mdc-card__primary">
                                <h2 class="s-mdc-card__title mdc-typography--headline6">¿Alguna duda o pregunta?</h2>
                                <h3 class="s-mdc-card__subtitle mdc-typography--subtitle2">Haz click acá.</h3>
                            </div>
                        </div>
                    </a>
                </div>
            </section>
        </article>
    </main>
</section>
{% endblock %}