{% extends 'layout_topbar_footer.html' %} {% block page_description %}Ciudad Mujer Honduras, Módulo de Atención Infantil
(MAI){% endblock %} {% block page_title %}CMH - Servicios MAI{% endblock %} {% block body %}
<section class="s-maincontainer">
    <main class="s-content">
        <article class="s-article s-article--centered">
            <header>
                <h2>
                    Módulo de Atención Infantil
                </h2>
            </header>
            <section class="s-article__text s-article__text--centered">
                <p>
                    <i class="material-icons s-article__graphic-mai" aria-hidden="true">child_friendly</i>
                </p>
                <p>
                    <i>
                        Estos son los servicios que te ofrecemos:
                    </i>
                </p>
            </section>
            <section class="s-article__text">
                <div class="s-article__list">
                    <ul class="mdc-list mdc-menu__items" role="menu" aria-hidden="true" aria-orientation="vertical">
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-mai" aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Atención a niños y niñas de diferentes grupos etarios
                                    (de 3 meses a 12 años).</span>
                                <span class="mdc-list-item__secondary-text">Un poco más de información</span>
                            </span>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-mai" aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Actividades tendientes a la educación y socialización.</span>
                                <span class="mdc-list-item__secondary-text">Un poco más de información</span>
                            </span>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-mai" aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Estimulación temprana.</span>
                                <span class="mdc-list-item__secondary-text">Un poco más de información</span>
                            </span>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-mai" aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Educación preescolar.</span>
                                <span class="mdc-list-item__secondary-text">Un poco más de información</span>
                            </span>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="s-article__text">
                <p>
                    <i>
                        Los niños y las niñas recibirán una atención integral en distintos aspectos que potencian su desarrollo. Independientemente
                        del tiempo que permanezcan en el mismo, no estarán siendo “custodiados” o “guardados” sino atendidos
                        y recibiendo algún tiempo de servicio para su beneficio, estimulación y desarrollo.
                    </i>
                </p>
            </section>
        </article>
    </main>
</section>
{% endblock %}