{% extends 'layout_topbar_footer.html' %} {% block page_description %}Ciudad Mujer Honduras, Módulo de Educación Comunitaria
(MEC){% endblock %} {% block page_title %}CMH - Servicios MEC{% endblock %} {% block body %}
<section class="s-maincontainer">
    <main class="s-content">
        <article class="s-article s-article--centered">
            <header>
                <h2>
                    Módulo de Educación Comunitaria
                </h2>
            </header>
            <section class="s-article__text s-article__text--centered">
                <p>
                    <i class="material-icons s-article__graphic-mec" aria-hidden="true">school</i>
                </p>
                <p>
                    <i>
                        Estos son los servicios que te ofrecemos:
                    </i>
                </p>
            </section>
            <section class="s-article__text">
                <div class="s-article__list">
                    <ul class="mdc-list mdc-menu__items" role="menu" aria-hidden="true" aria-orientation="vertical">
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-mec" aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Adaptación de modelos de intervención comunitaria
                                    a nivel con adolescentes y jóvenes.</span>
                                <span class="mdc-list-item__secondary-text">Un poco más de información</span>
                            </span>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-mec" aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Iniciativa preventiva con madres, padres y otros
                                    adultos para generar cambios en actitudes y patrones culturales.</span>
                                <span class="mdc-list-item__secondary-text">Un poco más de información</span>
                            </span>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-mec" aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Programa de formación en derechos humanos de las
                                    mujeres.</span>
                                <span class="mdc-list-item__secondary-text">Un poco más de información</span>
                            </span>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-mec" aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Estrategias de vinculación entre la comunidad y
                                    los servicios de Ciudad Mujer.</span>
                                <span class="mdc-list-item__secondary-text">Un poco más de información</span>
                            </span>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="s-article__text">
                <p>
                    <i>
                        El MEC prioriza el abordaje de las normas culturales que afectan negativamente la Salud Sexual y Reproductiva, la Autonomía
                        Económica y contribuyen a la Violencia Contra las Mujeres y que, de esta forma, obstaculizan el desarrollo
                        integral de las adolescentes y las mujeres en general.
                    </i>
                </p>
            </section>
        </article>
    </main>
</section>
{% endblock %}