{% extends 'layout_topbar_footer.html' %} {% block page_description %}Ciudad Mujer Honduras, Módulo de Autonomía Económica
(MAE){% endblock %} {% block page_title %}CMH - Servicios MAE{% endblock %} {% block body %}
<section class="s-maincontainer">
    <main class="s-content">
        <article class="s-article s-article--centered">
            <header>
                <h2>
                    Módulo de Autonomía Económica
                </h2>
            </header>
            <section class="s-article__text s-article__text--centered">
                <p>
                    <i class="material-icons s-article__graphic-mae" aria-hidden="true">assessment</i>
                </p>
                <p>
                    <i>
                        Estos son los servicios que te ofrecemos:
                    </i>
                </p>
            </section>
            <section class="s-article__text">
                <div class="s-article__list">
                    <ul class="mdc-list mdc-menu__items" role="menu" aria-hidden="true" aria-orientation="vertical">
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-mae" aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Orientación e intermediación laboral.</span>
                                <span class="mdc-list-item__secondary-text">Un poco más de información</span>
                            </span>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-mae" aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Capacitación para el apoyo a la empleabilidad.</span>
                                <span class="mdc-list-item__secondary-text">Un poco más de información</span>
                            </span>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-mae" aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Desarrollo empresarial.</span>
                                <span class="mdc-list-item__secondary-text">Un poco más de información</span>
                            </span>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-mae" aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Desarrollo agrícola.</span>
                                <span class="mdc-list-item__secondary-text">Un poco más de información</span>
                            </span>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-mae" aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Servicios financieros.</span>
                                <span class="mdc-list-item__secondary-text">Un poco más de información</span>
                            </span>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-mae" aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Alfabetización y nivelación académica.</span>
                                <span class="mdc-list-item__secondary-text">Un poco más de información</span>
                            </span>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-mae" aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Orientación, identificación y registro personal.</span>
                                <span class="mdc-list-item__secondary-text">Un poco más de información</span>
                            </span>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="s-article__text">
                <p>
                    <i>
                        Este módulo busca mejorar la participación laboral y la generación de ingresos laborales propios de las mujeres. 
                        Se apoyará la provisión y mejora de los servicios del MAE tales como habilidades para la vida, nivelación académica,
                        orientación, intermediación y capacitación laboral, asesoría empresarial y servicios financieros.
                    </i>
                </p>
            </section>
        </article>
    </main>
</section>
{% endblock %}