{% extends 'layout_topbar_footer.html' %} {% block page_description %}Ciudad Mujer Honduras, Módulo de Salud Sexual y Reproductiva
(MSSR){% endblock %} {% block page_title %}CMH - Servicios MSSR{% endblock %} {% block body %}
<section class="s-maincontainer">
    <main class="s-content">
        <article class="s-article s-article--centered">
            <header>
                <h2>
                    Módulo de Salud Sexual y Reproductiva
                </h2>
            </header>
            <!-- <section class="parallax parallax--small" style="background-image: url(../static/images/assets/landing_page/cmh_04_a.png);">
                <div class="parallax-caption">
                    <span class="parallax-caption--dark">Módulo de Salud Sexual y Reproductiva.</span>
                </div>
            </section> -->
            <section class="s-article__text s-article__text--centered">
                <p>
                    <i class="fa fa-heartbeat s-article__graphic-mssr" aria-hidden="true"></i>
                </p>
                <p>
                    <i>
                        Estos son los servicios que te ofrecemos:
                    </i>
                </p>
            </section>
            <section class="s-article__text">
                <div class="s-article__list">
                    <ul class="mdc-list mdc-menu__items" role="menu" aria-hidden="true" aria-orientation="vertical">
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-mssr" aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Medicina general.</span>
                                <span class="mdc-list-item__secondary-text">Un poco más de información</span>
                            </span>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-mssr" aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Ginecología y obstetricia.</span>
                                <span class="mdc-list-item__secondary-text">Un poco más de información</span>
                            </span>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-mssr" aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Medicina interna.</span>
                                <span class="mdc-list-item__secondary-text">Un poco más de información</span>
                            </span>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-mssr" aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Pediatría.</span>
                                <span class="mdc-list-item__secondary-text">Un poco más de información</span>
                            </span>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-mssr" aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Odontología.</span>
                                <span class="mdc-list-item__secondary-text">Un poco más de información</span>
                            </span>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-mssr" aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Psicología.</span>
                                <span class="mdc-list-item__secondary-text">Un poco más de información</span>
                            </span>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-mssr" aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Nutrición.</span>
                                <span class="mdc-list-item__secondary-text">Un poco más de información</span>
                            </span>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-mssr" aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Servicios de apoyo de diagnóstico.</span>
                                <span class="mdc-list-item__secondary-text">Un poco más de información</span>
                            </span>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-mssr" aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Laboratorio.</span>
                                <span class="mdc-list-item__secondary-text">Un poco más de información</span>
                            </span>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-mssr" aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Farmacia.</span>
                                <span class="mdc-list-item__secondary-text">Un poco más de información</span>
                            </span>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-mssr" aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Detección temprana de cáncer cérvico-uterino y
                                    de mama.</span>
                                <span class="mdc-list-item__secondary-text">Un poco más de información</span>
                            </span>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-mssr" aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Planificación familiar y control de embarazos.</span>
                                <span class="mdc-list-item__secondary-text">Un poco más de información</span>
                            </span>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="s-article__text">
                <p>
                    <i>
                        Este módulo se propone detectar tempranamente el cáncer cérvico-uterino y de mama, así como ofrecer servicios de planificación
                        familiar (PF) y control de embarazos para reducir la mortalidad materna y la mortalidad ocasionada
                        por cáncer cérvico-uterino y de mama. Se apoyará la provisión y mejora de los servicios del MSRR
                        tales como control prenatal y postnatal, asesoría pre-concepcional, planificación familiar, mamografías,
                        ultrasonografías, citologías y colposcopías.
                    </i>
                </p>
            </section>
        </article>
    </main>
</section>
{% endblock %}