{% extends 'layout_topbar_footer.html' %} {% block page_description %}Ciudad Mujer Honduras, Módulo de Atención a Adolescentes
(MAA){% endblock %} {% block page_title %}CMH - Servicios MAA{% endblock %} {% block body %}
<section class="s-maincontainer">
    <main class="s-content">
        <article class="s-article s-article--centered">
            <header>
                <h2>
                    Módulo de Atención a Adolescentes
                </h2>
            </header>
            <section class="s-article__text s-article__text--centered">
                <p>
                    <i class="material-icons s-article__graphic-maa" aria-hidden="true">alternate_email</i>
                </p>
                <p>
                    <i>
                        Estos son los servicios que te ofrecemos:
                    </i>
                </p>
            </section>
            <section class="s-article__text">
                <div class="s-article__list">
                    <ul class="mdc-list mdc-menu__items" role="menu" aria-hidden="true" aria-orientation="vertical">
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-maa" aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Consejería integral en salud.</span>
                                <span class="mdc-list-item__secondary-text">Un poco más de información</span>
                            </span>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-maa" aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Atención psicológica.</span>
                                <span class="mdc-list-item__secondary-text">Un poco más de información</span>
                            </span>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-maa" aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Educación para la vida.</span>
                                <span class="mdc-list-item__secondary-text">Un poco más de información</span>
                            </span>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-maa" aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Orientación vocacional.</span>
                                <span class="mdc-list-item__secondary-text">Un poco más de información</span>
                            </span>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-maa" aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Empoderamiento y prevención de Violencia Contra
                                    la Mujer.</span>
                                <span class="mdc-list-item__secondary-text">Un poco más de información</span>
                            </span>
                        </li>
                        <li role="separator" class="mdc-list-divider"></li>
                        <li class="mdc-list-item" role="menuitem" tabindex="0">
                            <i class="material-icons mdc-list-item__graphic mdc-list-item__graphic-maa" aria-hidden="true">short_text</i>
                            <span class="mdc-list-item__text">
                                <span class="mdc-list-item__primary-text">Salud Sexual y Reproductiva.</span>
                                <span class="mdc-list-item__secondary-text">Un poco más de información</span>
                            </span>
                        </li>
                    </ul>
                </div>
            </section>
            <section class="s-article__text">
                <p>
                    <i>
                        Este módulo se propone reducir los embarazos en adolescentes buscando atender sus necesidades específicas por medio de los
                        servicios del MAA orientados al desarrollo de habilidades para la vida, de competencias socioemocionales
                        y de planes de vida, orientación vocacional y capacitación técnica, así como de prevención de violencia
                        por medio de iniciativas educativas que han mostrado ser buenas prácticasy servicios especializados
                        de salud sexual y reproductiva, entre otros.
                    </i>
                </p>
            </section>
        </article>
    </main>
</section>
{% endblock %}